@use '../../variables' as *;
@use '../../mixins' as *;

.p-entry {
	&__heading {
		&--info {
			margin-bottom: 40px;
		}

		&--entry-caution {
			margin: -48px auto 16px;
			display: flex;
			align-items: center;
			gap: 16px;

			@include respond-to {
				margin-top: -15px;
			}

			span {
				padding: 10px 64px;
				font-size: 20px;
				font-weight: bold;
				color: $color-white;
				background-color: $color-tag-info;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100px;

				@include respond-to {
					padding: 6px 32px;
					font-size: 15px;
				}
			}

			&::before,
			&::after {
				content: "";
				display: block;
				border-top: 1px solid $color-tag-info;
				flex: 1 1 auto;
			}
		}

		&--entry-schedule {
			margin-bottom: 5px;
			padding: 8px;
			font-size: 32px;
			font-weight: bold;
			color: $color-white;
			background: $color-main-blue;

			@include respond-to {
				margin-bottom: 10px;
				font-size: 24px;
				padding: 4px;
			}

			span {
				font-size: 20px;
			}
		}

		&--pickup {
			margin-bottom: 30px;
			font-size: 24px;
			font-weight: bold;
			line-height: 1;
			flex: 0 0 auto;

			@include respond-to {
				margin-bottom: 8px;
				font-size: 20px;
			}

			span {
				font-size: 20px;

				@include respond-to {
					font-size: 16px;
				}
			}

		}

		&--guide {
			margin-bottom: 24px;
			padding: 16px;
			border-bottom: 1px solid $color-border-gray;
			display: flex;
			gap: 16px;

			@include respond-to {
				margin-bottom: 16px;
			}
		}

		&--hometown {
			margin: 24px 24px 16px;
		}

		&--guideline {
			margin-bottom: 16px;
		}
	}

	&__container {
		&--tabs {
			margin: 24px 24px 0;
		}
	}

	&__wrap {
		&--entry-schedule {
			margin-bottom: 40px;
			display: flex;
			gap: 32px;

			@include respond-to($break-pc-max) {
				flex-wrap: wrap;
			}

			@include respond-to {
				margin-bottom: 10px;
				flex-direction: column;
				gap: 16px;
			}
		}

		&--table-guide {
			width: 100%;
			overflow-x: auto;

			table {
				min-width: 100%;
				border: 1px solid $color-border-gray;
				border-collapse: collapse;
			}

			th, td {
				border: 1px solid $color-border-gray;
				vertical-align: top;
			}

			thead {
				th {
					padding: 10px 12px;
					font-size: 16px;
					font-weight: bold;
					background-color: $color-table-light-blue;

					&.empty {
						background-color: $color-bg-table-gray;
					}

					&:first-child {
						width: 330px;
						min-width: 280px;
					}

					&:nth-child(2) {
						width: 170px;
						min-width: 150px;
					}

					&:nth-child(3) {
						min-width: 400px;
					}
				}
			}

			tbody {
				th, td {
					padding: 10px 12px;
				}

				th {
					width: 185px;
					background-color: $color-bg-table-gray;
					font-weight: normal;
					text-align: left;
				}

				td {
					background-color: $color-white;
				}
			}

			.no-break {
				white-space: nowrap;
			}

			.align-center {
				text-align: center;
			}

			.valign-center {
				vertical-align: middle;
			}
		}

		&--table-recruit {
			margin-top: 24px;
			padding: 0 24px;

			thead {
				th {
					&:first-child {
						width: 185px;
						min-width: 165px;
					}

					&:nth-child(2),
					&:nth-child(3) {
						width: calc((100% - 185px) / 2);
						min-width: 300px;
					}
				}
			}

			tbody {
				td {
					font-weight: bold;
				}
			}
		}

		&--pickup {
			display: flex;
			gap: 30px;
			justify-content: stretch;
			flex-wrap: wrap;

			@include respond-to {
				flex-direction: column;
				gap: 16px;
			}
		}

		&--icons-guide {
			display: flex;
			justify-content: center;
			gap: 8px;
		}

		&--tabs {
			padding: 16px;
			border: 1px solid $color-yellow;
			overflow-x: auto;


		}
	}

	&__cell {
		&--price {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	&__block {
		&--entry-caution {
			margin-bottom: 40px;
			border-bottom: 1px solid $color-tag-info;
			padding: 40px 0 24px;

			@include respond-to {
				margin-bottom: 10px;
				padding-top: 23px;
				padding-bottom: 8px;
			}
		}

		&--entry-schedule {
			padding: 0 0 12px;
			flex: 1 1 calc((1 / 3) * 100%);
			border: 3px solid $color-main-blue;
			border-radius: 8px;
			text-align: center;

			@include respond-to($break-pc-max) {
				flex: 0 1 calc((100% - 32px) / 2);
			}

			@include respond-to {
				flex-basis: auto;
				padding-bottom: 5px;
			}
		}

		&--pickup {
			padding: 32px 16px 0;
			border-radius: 8px;
			flex: 0 0 calc((100% - 60px) / 3);
			background-color: $color-white;
			box-shadow: 0px 0px 20px 0px #0000001a;
			position: relative;
			display: flex;
			flex-direction: column;

			@include respond-to($break-pc-max) {
				flex-basis: calc((100% - 30px) / 2);
			}

			@include respond-to {
				flex-basis: auto;
			}
		}

		&--guide { 
			margin-bottom: 24px;
			padding-bottom: 24px;
			border: 1px solid $color-border-gray;
			border-radius: 8px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&--tab {
			display: none;

			&.is-current {
				display: block;
			}
		}

		&--guideline {
			margin-bottom: 24px;
		}
	}

	&__inner {
		&--texts {
			flex: 1 0 auto;
		}

		&--recruit-heading {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.heading {
				font-size: 24px;
				font-weight: bold;

				@include respond-to {
					font-size: 20px;
				}
			}

			.explain {
				font-size: 16px;
				font-weight: bold;
				color: $color-tag-info;

				@include respond-to {
					font-size: 16px;
				}
			}
		}
	}

	&__list {
		&--number {
			li {
				padding-left: 1.05em;
				text-indent: -1.05em;
				font-size: 16px;
			}
		}

		&--division {
			display: flex;
			gap: 24px;
			flex-wrap: wrap;

			@include respond-to {
				row-gap: 8px;
			}

			dt {
				padding: 6px 10px;
				flex: 0 0 70px;
				border: 1px solid $color-main-blue;
				border-radius: 4px;
				font-size: 14px;
				line-height: 1;
				font-weight: bold;
				color: $color-main-blue;
				text-align: center;
			}

			dd {
				flex: 1 0 calc(100% - 94px);
				font-size: 16px;
				margin: 0;

				@include respond-to {
					font-size: 14px;
				}
			}
		}

		&--pickup-caution {
			margin-bottom: 16px;

			li {
				padding-left: 1.25em;
				text-indent: -1.25em;
				font-size: 14px;
			}
		}

		&--pickup {
			margin-bottom: 16px;
			flex: 0 0 auto;

			li {
				display: flex;
				gap: 8px;
				align-items: center;

				&::before {
					content: "";
					width: 16px;
					height: 16px;
					display: block;
					background: url(@/assets/images/utils/icon_checkmark.svg) center no-repeat;
					background-size: contain;

					@include respond-to {
						width: 14px;
						height: 14px;
					}
				}

				font-size: 14px;
			}
		}

		&--recruit {
			margin-left: 24px;
			margin-top: 16px;
		}

		&--kome {
			font-size: 14px;
			padding-left: 1.2em;
			text-indent: -1.2em;
		}

		&--tabs {
			display: flex;
			overflow-x: auto;
			flex-wrap: nowrap;
			gap: 3px;

			li {
				padding: 6px 24px;
				cursor: pointer;
				border-top: 1px solid $color-yellow;
				border-left: 1px solid $color-yellow;
				border-right: 1px solid $color-yellow;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
				font-weight: bold;
				user-select: none;
				white-space: nowrap;

				@include respond-to {
					font-size: 14px;
				}

				&.is-current {
					background-color: $color-yellow;
				}
			}
		}

		&--banners {
			display: flex;
			gap: 24px;
			flex-wrap: wrap;
		}

		&--guideline {
			font-size: 14px;
		}
	}

	&__text {
		&--entry-caution {
			text-align: center;
			font-size: 24px;
			font-weight: bold;

			@include respond-to {
				font-size: 16px;
			}

			span {
				font-size: 36px;
				color: $color-tag-info;

				@include respond-to {
					font-size: 24px;
				}
			}
		}

		&--entry-schedule-date {
			margin-bottom: 8px;
			padding: 0 0 0 8px;
			color: $color-main-blue;
			text-align: center;
			font-size: clamp(38px, 4.0vw, 42px);
			font-weight: bold;
			vertical-align: baseline;
			line-height: 1;

			@include respond-to {
				font-size: 30px;
				display: inline-block;
			}

			span {
				font-size: 24px;

				@include respond-to {
					font-size: 16px;
				}
			}
		}

		&--entry-schedule-time {
			font-size: 32px;
			font-weight: 600;
			color: $color-main-blue;
			font-family: $font-outfit;

			@include respond-to {
				font-size: 20px;
				display: inline-block;
			}
		}

		&--emp {
			font-size: 24px;
			font-weight: bold;
			color: $color-tag-info;
		}

		&--pickup {
			margin-bottom: 8px;

			@include respond-to {
				font-size: 14px;
			}
		}

		&--recruit-emp {
			margin-top: 16px;
			margin-left: 24px;
			font-weight: bold;

			span {
				color: $color-tag-info;
			}
		}

		&--recruit {
			margin-top: 16px;
			margin-left: 24px;
		}

		&--guideline {
			@include respond-to {
				margin-bottom: 16px;
			}
		}
	}

	&__button {
		&--entry {
			a {
				padding: 24px;
				font-size: 32px;
				font-weight: bold;
				color: $color-disabled-text-gray;
				background-color: $color-disabled-button-gray;
				border-radius: 8px;
				text-align: center;
				display: block;
				user-select: none;

				&[href] {
					background-color: $color-tag-info;
					color: $color-white;
				}

				// 受付終了後にクラス付与
				&.is-end {
					color: $color-black;
				}

				@include respond-to {
					padding: 10px;
					font-size: 20px;
				}
			}
		}

		&--sports-entry {
			max-width: 400px;

			a {
				background-color: transparent; 
			}
		}

		&--pdf {
			margin-top: 24px;

			a {
				background-color: transparent;

				&::after {
					width: 11px;
					height: 14px;
					background-image: url(/src/assets/images/utils/icon_pdf.svg);
					transition: filter $fade-spd-default ease;
				}

				&:hover::after {
					background-image: url(/src/assets/images/utils/icon_pdf.svg);
					filter: invert(100%);
				}
			}
		}
	}

	&__icon {
		&--guide {
			padding: 6px 10px;
			font-size: 14px;
			color: $color-main-blue;
			font-weight: bold;
			line-height: 1;
			border: 1px solid $color-main-blue;
			border-radius: 4px;
		}

		&--recruit {
			width: 60px;
			height: 68px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		&--pickup {
			position: absolute;

			img {
				width: 100%;
			}

			&.chiba {
				width: 80px;
				top: -14px;
				right: 9px;	

				@include respond-to {
					width: 60px;
					top: -7px;
					right: 8px;
				}
			}

			&.student {
				width: 89px;
				top: -10px;
				right: 14px;

				@include respond-to {
					width: 60px;
					top: -8px;
					right: 11px;
				}
			}

			&.woman {
				width: 82px;
				top: -14px;
				right: 18px;

				@include respond-to {
					width: 48px;
					top: -8px;
					right: 16px;
				}
			}
		}
	}

	&__image {
		&--flow {
			overflow-x: auto;

			img {
				@include respond-to {
					width: 800px;
					max-width: none;
				}
			}
		}
	}

	&__anchor {
		&--pickup {
			width: calc(100% + 32px);
			margin-left: -16px;
			padding: 8px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			font-weight: bold;
			color: $color-white;
			text-align: center;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			background-color: $color-main-blue;
			flex: 0 0 auto;

			&::after {
				content: "";
				width: 18px;
				height: 18px;
				margin-top: 3px;
				display: block;
				background: url(@/assets/images/utils/icon_arrow_white.svg) center no-repeat;
				background-size: contain;
				transform: rotate(90deg);
			}
		}
	}

	&__caution {
		&--kome {
			margin-top: 16px;

			li {
				padding-left: 1.25em;
				text-indent: -1.25em;
				font-size: 14px;
			}
		}
	}
}