@use '../../variables' as *;
@use '../../mixins' as *;

.p-prize {
	&__wrap {
		&--tabs {
			padding: 24px;
			border: 1px solid $color-main-blue;
			overflow-x: auto;

			@include respond-to {
				padding: 12px;
			}
		}

		
		&--table-guide {
			width: 100%;
			margin-bottom: 32px;
			overflow-x: auto;

			&:last-child {
				margin-bottom: 0;
			}

			table {
				min-width: 100%;
				border: 1px solid $color-border-gray;
				border-collapse: collapse;
			}

			th, td {
				border: 1px solid $color-border-gray;
				vertical-align: top;
				text-align: center;
			}

			thead {
				th {
					min-width: 140px;
					padding: 10px 12px;
					font-size: 16px;
					font-weight: bold;
					background-color: $color-table-light-blue;

					&:first-child {
						min-width: 150px;
						background-color: $color-bg-table-gray;
						text-align: left;
					}
				}
			}

			tbody {
				th, td {
					padding: 10px 12px;
				}

				th {
					width: 185px;
					background-color: $color-bg-table-gray;
					font-weight: normal;
					text-align: left;
				}

				td {
					background-color: $color-white;
				}
			}

			.no-break {
				white-space: nowrap;
			}

			.align-center {
				text-align: center;
			}

			.valign-center {
				vertical-align: middle;
			}
		}
	}

	&__block {
		&--tab {
			display: none;

			&.is-current {
				display: block;
			}
		}
	}

	&__list {
		&--tabs {
			display: flex;
			overflow-x: auto;
			flex-wrap: nowrap;
			gap: 10px;
	
			li {
				padding: 6px 24px;
				cursor: pointer;
				border-top: 1px solid $color-main-blue;
				border-left: 1px solid $color-main-blue;
				border-right: 1px solid $color-main-blue;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
				font-weight: bold;
				font-family: $font-outfit;
				user-select: none;
				white-space: nowrap;
				text-align: center;
				flex: 1 1 50%;
				
				@include respond-to {
					font-size: 14px;
				}
	
				&.is-current {
					color: $color-white;
					background-color: $color-main-blue;
				}
			}
		}
	}

	&__heading {
		&--guideline {
			margin-bottom: 32px;
		}
	}

	&__text {
		&--image {
			margin-top: -8px;
			margin-bottom: 16px;
			text-align: center;
		}
	}

	&__image {
		&--kv {
			margin-bottom: 32px;

			@include respond-to {
				margin-bottom: 16px;
			}
		}

		&--t-shirt {
			width: 477px;
			margin: 0 auto 16px;

			max-width: 90%;
		}
	}

	&__caution {
		&--tab {
			font-size: 12px;
			line-height: 1.4;
			display: flex;
			justify-content: center;
		}
	}

	&__tag {
		&--tab {
			margin-bottom: 18px;
			padding: 4px 8px;
			font-size: 32px;
			font-family: $font-outfit;
			font-weight: 500;
			text-align: center;
			border-radius: 8px;

			&.clear {
				background-color: $color-bg-clear-mist;
			}

			&.navy {
				color: $color-white;
				background-color: $color-bg-navy-trentch;
			}
		}
	}
}