@use '../../variables' as *;
@use '../../mixins' as *;

.p-support {
	&__heading {
		margin-bottom: 40px;
		display: flex;
		align-items: center;
		gap: 14px;
		font-size: 24px;
		font-weight: 500;

		@include respond-to {
			font-size: 20px;
			margin-bottom: 24px;
		}

		&::before {
			content: "";
			display: block;
			width: 10px;
			height: 1px;
			background-color: $color-main-blue;
		}

		&--info {
			line-height: 1.5;

			@include respond-to {
				margin-bottom: 24px;
			}
		}

		&--what {
			padding: 24px;
			font-size: 32px;
			font-weight: 600;
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;

			@include respond-to {
				padding: 8px;
				font-size: 20px;
			}

			&::after {
				content: '';
				width: 40px;
				height: 40px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				background: url(@/assets/images/utils/icon_plus.svg) center no-repeat;

				@include respond-to {
					width: 30px;
					height: 30px;
					background-size: 17.5px auto;
				}
			}

			&.is-active {
				&::after {
					background-image: url(@/assets/images/utils/icon_minus.svg);
				}
			}
		}

		&--guideline {
			@include respond-to {
				margin-bottom: 10px;
				font-size: 18px;
			}
		}

		&--women {
			grid-row: 1 / 2;
			grid-column: 2 / 3;
			font-size: 24px;
			font-weight: bold;
			line-height: 1;

			@include respond-to {
				grid-row: 1 / 2;
				grid-column: 2 / 3;
				display: flex;
				align-items: center;
				font-size: 20px;
				line-height: 1.1;
			}
		}

		&--entry {
			margin-bottom: 48px;

			&-top {
				margin-bottom: 16px;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 16px;

				font-size: 24px;
				line-height: 1.5;
				font-weight: bold;

				&::before,
				&::after {
					content: "";
					display: block;
					width: auto;
					height: 3px;
					flex: 1 0 auto;
					background-color: $color-tag-info;
				}

				@include respond-to {
					margin-bottom: 10px;
					flex-direction: column;
					font-size: 18px;

					&::before,
					&::after {
						width: 100%;
					}
				}
			}

			&-copy {
				margin-bottom: 16px;
				font-size: 32px;
				font-weight: bold;
				display: flex;
				justify-content: center;
				align-items: baseline;

				span {
					font-size: 48px;
					font-weight: 600;
					color: $color-tag-info;
				}

				&:last-child {
					margin-bottom: 0;
				}

				@include respond-to {
					margin-bottom: 10px;
					font-size: 20px;
					flex-wrap: wrap;

					&.row-2 {
						font-size: 24px;

						span {
							font-size: 28px;
						}
					}
				}
			}
		}
	}

	&__text {
		&--tagline {
			margin-bottom: 16px;
			font-size: 20px;
			font-weight: 500;
		}

		&--explain {
			margin-bottom: 32px;
		}

		&--guideline {
			margin-bottom: 8px;

			span {
				color: $color-tag-info;
			}

			sup {
				position: relative;
				top: 2px;
				font-size: 11px;
			}
		}
	}

	&__caution {

		&--women {
			margin-top: 8px;
			font-size: 14px;
			line-height: 1.4;
		}

		&--entry {
			display: flex;
			justify-content: center;

			a {
				color: $color-main-blue;
				text-decoration: underline;
			}

			@include respond-to {
				display: block;
			}
		}
	}

	&__block {
		&--what {
			margin-bottom: 32px;
			position: relative;
			overflow: hidden;
			border-radius: 8px;

			&.student {
				background-color: $color-bg-student-green;
			}

			&.women {
				background-color: $color-bg-women-blue;
			}
		}

		&--toggle {
			margin: 0 24px;
			display: grid;
			grid-template-rows: 0fr;
			overflow: hidden;
			transition: grid-template-rows $fade-spd-default ease-out, height $fade-spd-default ease-out;

			&.is-active {
				grid-template-rows: 1fr;
			}

			@include respond-to {
				margin: 0 8px;
			}
		}

		&--text-women {
			grid-row: 2 / 3;
			grid-column: 2 / 3;

			@include respond-to {
				grid-row: 2 / 3;
				grid-column: 1 / 3;
			}
		}
	}

	&__inner {
		&--toggle {
			overflow: hidden;
		}

		&--on-inner {
			margin-bottom: 24px;
			padding: 24px;
			border-radius: 8px;
			background-color: $color-white;

			@include respond-to {
				margin-bottom: 8px;
				padding: 16px;
			}
		}
	}

	&__icon {
		&--heading {
			margin-bottom: -1px;

			@include respond-to {
				width: 48px;
			}
		}

		&--women {
			grid-row: 1 / 3;
			grid-column: 1 / 2;

			@include respond-to {
				grid-row: 1 / 2;
				grid-column: 1 / 2;
			}
		}
	}

	&__list {
		&--women {
			li {
				margin-bottom: 24px;
				padding-bottom: 24px;
				border-bottom: 1px dashed $color-bg-women-blue;
				display: grid;
				column-gap: 16px;
				row-gap: 8px;
				grid-template-columns: 60px 1fr;
				grid-template-rows: auto auto;

				@include respond-to {
					column-gap: 8px;
					grid-template-columns: 40px 1fr;
				}
			}
		}
	}

	&__button {
		&--entry {
			margin-bottom: 16px;

			a {
				padding: 24px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 32px;
				font-weight: bold;
				line-height: 1;
				color: $color-white;
				background-color: $color-tag-info;
				border-radius: 8px;

				@include respond-to {
					font-size: 20px;
				}
			}
		}
	}
}