<!doctype html>
<html lang="ja_JP">
<head>
		<%
			const title = "ランニングセッション";
			const path="event/session.html" 
			const description="2026年11月8日開催！ちばアクアラインマラソン2026のイベントセッション紹介です。海ほたるの青く雄大な空と海に囲まれた景色の中や、千葉の田園を、市民ランナーが走ります。"
		%>
		<%- include("src/include/head.ejs", {title, path, description}) %>
</head>
<body class="l-guideline">
	<%- include("src/include/header.html") %>
	<main class="l-main">
	<section class="l-heading p-top__heading">
		<div class="c-heading__container--main">
			<h2 class="c-heading__main">イベント・応援</h2>
		</div>
	</section>
	<div class="l-breadclumb">
		<ul>
			<li><a href="/">トップ</a></li>
			<li>イベント・応援</li>
			<li>ランニングセッション</li>
		</ul>
	</div>
	<section class="l-content">
		<div class="l-content__inner">
		<div class="l-column__main">
			<section class="c-container">
				<h3 class="c-heading__info p-session__heading--main">ランニングセッション</h3>
				<div class="c-block__guideline">
					<div class="c-block__guideline">
						<p class="c-text__guideline">ちばアクアラインマラソン2026では6名のオフィシャルアンバサダーがランニングセッションを開催します。<br>
						ぜひご参加ください。</p>
					</div>
					<div class="p-session__container">
						<p class="p-session__image--profile">
							<img src="/images/tournament/ambassador/img_misato_tsuboi.jpg" alt="写真：坪井 ミサトさん"><img src="/images/tournament/ambassador/img_sp_misato_tsuboi.jpg" class="is-sp" alt="写真：坪井 ミサトさん">
						</p>
						<div class="p-session__block--heading">
							<!--<p class="p-session__text--end">募集は終了いたしました</p>-->
							<h4 class="p-session__heading--event-name">Road to AQUALINE MARATHON 2026<br>YOGA & RUNNING SESSION with Official Challenger</h4>
						</div>
						<dl class="p-session__block--info">
							<dt>日時</dt>
							<dd>2026/2/8(日)<span>受付開始 10:30 ～</span></dd>
							<dt>場所</dt>
							<dd>舵輪 DARIN Food,Society & Life <br>
								〒292-0831 木更津市富士見3-5-14</dd>
							<dt>定員</dt>
							<dd>30名（先着）</dd>
							<dt>参加料</dt>
							<dd>4,500円（お食事・ドリンク代含む）</dd>
							<dt>申込締切</dt>
							<dd>2026/2/7(土)23:59<br>
								※定員達し次第終了</dd>
						</dl>
						<div class="p-session__block--copy">
							<p class="p-session__copy">ちばアクアラインマラソンオフィシャルアンバサダー坪井ミサトさんによるランニングセッションイベントが開催されます。<br>
								オフィシャルチャレンジャーの金知佳さん、迫田里奈さんも参加予定です。<br>
								イベント詳細とお申し込みはこちら！</p>
						</div>
						<div class="p-session__block--button">
							<p class="c-button__standard"><a href="https://moshicom.com/139838/" target="_blank">イベント詳細とお申し込み</a></p>
						</div>
					</div>
					<div class="p-session__container">
						<p class="p-session__image--profile">
							<img src="/images/event/session/img_makarun.jpg" alt="写真：まかランさん"><img src="/images/event/session/img_makarun_sp.jpg" class="is-sp" alt="写真：まかランさん">
						</p>
						<div class="p-session__block--heading">
							<!--<p class="p-session__text--end">募集は終了いたしました</p>-->
							<h4 class="p-session__heading--event-name">まかラン ちばアクアラインマラソン2026 RUNNING SESSION <br>in イオンモール幕張新都心</h4>
						</div>
						<dl class="p-session__block--info">
							<dt>日時</dt>
							<dd>2026/2/14(土)<span>受付開始 15:00 ～</span></dd>
							<dt>場所</dt>
							<dd>千葉県千葉市美浜区豊砂1-1</dd>
							<dt>定員</dt>
							<dd>30名程度</dd>
							<dt>参加料</dt>
							<dd>無料</dd>
							<dt>申込締切</dt>
							<dd>2026/2/13(金)23:59</dd>
						</dl>
						<div class="p-session__block--copy">
							<p class="p-session__copy">ちばアクアラインマラソンオフィシャルアンバサダーまかランさんによるランニングセッションイベントが開催されます。<br>
							イベント詳細とお申し込みはこちら！</p>
						</div>
						<div class="p-session__block--button">
							<p class="c-button__standard"><a href="https://moshicom.com/140438" target="_blank">イベント詳細とお申し込み</a></p>
						</div>
					</div>
					<div class="p-session__container">
						<p class="p-session__image--profile">
							<img src="/images/tournament/ambassador/img_m_takashi.jpg" alt="写真：M高史さん"><img src="/images/tournament/ambassador/img_sp_m_takashi.jpg" class="is-sp" alt="写真：M高史さん">
						</p>
						<div class="p-session__block--heading">
							<!--<p class="p-session__text--end">募集は終了いたしました</p>-->
							<h4 class="p-session__heading--event-name">Ｍ高史と下駄トレーニング＆ファルトレクで現状打破！</h4>
						</div>
						<dl class="p-session__block--info">
							<dt>日時</dt>
							<dd>2026/2/15(日)<span>受付開始 10:00 ～</span></dd>
							<dt>場所</dt>
							<dd>小見川B&G海洋センター</dd>
							<dt>定員</dt>
							<dd>30名（先着）</dd>
							<dt>参加料</dt>
							<dd>無料</dd>
							<dt>申込締切</dt>
							<dd>2026/2/14(土)23:59<br>
								※定員達し次第終了</dd>
						</dl>
						<div class="p-session__block--copy">
							<p class="p-session__copy">ちばアクアラインマラソンオフィシャルアンバサダーM高史さんによるランニングセッションイベントが開催されます。<br>
								イベント詳細とお申し込みはこちら！</p>
						</div>
						<div class="p-session__block--button">
							<p class="c-button__standard"><a href="https://moshicom.com/139339/" target="_blank">イベント詳細とお申し込み</a></p>
						</div>
					</div>
					<div class="p-session__container">
						<p class="p-session__image--profile">
							<img src="/images/event/session/img_wakana_sui.jpg" alt="写真：福島和可菜さん、SUIさん"><img src="/images/event/session/img_wakana_sui_sp.jpg" class="is-sp" alt="写真：福島和可菜さん、SUIさん">
						</p>
						<div class="p-session__block--heading">
							<!--<p class="p-session__text--end">募集は終了いたしました</p>-->
							<h4 class="p-session__heading--event-name">福島和可菜・SUI<br>ちばアクアラインマラソン2026ランニングクリニック
							</h4>
						</div>
						<dl class="p-session__block--info">
							<dt>日時</dt>
							<dd>2026/2/23(月)<span>受付開始 10:00 ～</span></dd>
							<dt>場所</dt>
							<dd>船橋港親水公園</dd>
							<dt>定員</dt>
							<dd>29名（先着）</dd>
							<dt>参加料</dt>
							<dd>2,500円</dd>
							<dt>申込締切</dt>
							<dd>2026/2/23(月)00:00<br>
								※定員達し次第終了</dd>
						</dl>
						<div class="p-session__block--copy">
							<p class="p-session__copy">ちばアクアラインマラソンオフィシャルアンバサダー福島和可菜さん、SUIさんによるランニングセッションイベントが開催されます。<br>
							イベント詳細とお申し込みはこちら！</p>
						</div>
						<div class="p-session__block--button">
							<p class="c-button__standard"><a href="https://moshicom.com/139023/" target="_blank">イベント詳細とお申し込み</a></p>
						</div>
					</div>
				</div>
			</section>
		</div>
			<%- include("src/include/subColumn.html") %>
		</div>
	</section>
	</main>
	<%- include("src/include/footer.html") %>
	<script type="module" src="/src/main.js"></script>
</body>
</html>