<!doctype html>
<html lang="ja_JP">
<head>
		<%
			const title = "オフィシャルチャレンジャー";
			const path="tournament/challenger.html" 
			const description="2026年11月8日開催！ちばアクアラインマラソン2026の大会概要です。海ほたるの青く雄大な空と海に囲まれた景色の中や、千葉の田園を、市民ランナーが走ります。"
		%>
		<%- include("src/include/head.ejs", {title, path, description}) %>
</head>
<body class="l-guideline">
	<%- include("src/include/header.html") %>
	<main class="l-main">
	<section class="l-heading p-top__heading">
		<div class="c-heading__container--main">
			<h2 class="c-heading__main">イベント・応援</h2>
		</div>
	</section>
	<div class="l-breadclumb">
		<ul>
			<li><a href="/">トップ</a></li>
			<li>イベント・応援</li>
			<li>オフィシャルチャレンジャー</li>
		</ul>
	</div>

	<section class="l-content">
		<div class="l-content__inner">
		<div class="l-column__main">
			<section class="c-container">
				<div class="c-block__ambassador">
					<h3 class="c-heading__info">オフィシャルチャレンジャー</h3>
					<p class="c-text__guideline--caption">マラソン初心者のインフルエンサーのおふたりにオフィシャルチャレンジャーにご就任いただき、参加者の皆様と一緒に人生初めてとなるアクアラインマラソン完走を目指していただきます。</p>
					<div class="c-block__guideline">
						<div class="c-wrap__ambassador">
							<p class="c-image__ambassador"><img src="/images/tournament/challenger/img_rina_sakota.jpg" alt="写真：迫田 里奈さん"><img src="/images/tournament/challenger/img_sp_rina_sakota.jpg" class="is-sp" alt="写真：迫田 里奈さん"></p>
							<div class="c-block__member">
								<div class="c-wrap__name--ambassador">
									<div class="c-block__name--ambassador">
										<!--<p class="c-heading__position--ambassador">肩書</p>-->
										<h5 class="c-heading__name--ambassador">迫田 里奈<!--<span>ふりがな</span>--></h5>
									</div>
									<ul class="c-list__sns--ambassador">
										<li><a href="https://www.instagram.com/rinapoyo.1129/" target="_blank"><img src="/images/common/icon_instagram.svg" alt=""></a></li>
									</ul>
								</div>
								<p class="c-text__profile">フリーのパーソナルトレーナーとして活動する傍ら、インスタグラマーとしても情報を発信。<br>
									サマースタイルアワード2019 日本一大会の実績を持ち、現在は同大会の審査員を務めている。<br>
									トレーニング指導だけでなく、自身もマラソンに取り組み、名古屋ウィメンズマラソンを2度完走。<br>
									ボディメイクと運動習慣づくりを中心に、女性専用パーソナルトレーナーとして20〜30代女性から支持を集めている。</p>
								<div class="c-block__message">
									<h4 class="c-heading__message"><img src="/images/tournament/heading_message.webp" alt="大会へのメッセージ"></h4>
									<div class="c-inner__message">
										<p class="c-text__message">このような素晴らしい大会に、オフィシャルチャレンジャーとして参加できることを、とても嬉しく思います。<br>
											あのアクアラインを走れると思うと、今からとても楽しみでワクワクしています。<br>
											目標があるからこそ、人は頑張れるものだと思います。<br>
											生活習慣を整えたい、ランニングを好きになってみたい、、、など<br>
											さまざまな想いを胸に、ぜひ挑戦してほしいです。<br>
											この大会が「自分が変わるきっかけ」になることは、間違いないと思っています。<br>
											皆さんと同じ目標を持ち、楽しみながら走れたら嬉しいです。<br>
											どうぞよろしくお願いいたします。</p>
									</div>
								</div>
							</div>
						</div>
						<div class="c-wrap__ambassador">
							<p class="c-image__ambassador"><img src="/images/tournament/challenger/img_chika_kim.jpg" alt="写真：金 知佳"><img src="/images/tournament/challenger/img_sp_chika_kim.jpg" class="is-sp" alt="写真：金 知佳さん"></p>
							<div class="c-block__member">
								<div class="c-wrap__name--ambassador">
									<div class="c-block__name--ambassador">
										<!--<p class="c-heading__position--ambassador">肩書</p>-->
										<h5 class="c-heading__name--ambassador">金 知佳<!--<span>ふりがな</span>--></h5>
									</div>
									<ul class="c-list__sns--ambassador">
										<li><a href="https://www.instagram.com/chika_kim__" target="_blank"><img src="/images/common/icon_instagram.svg" alt=""></a></li>
									</ul>
								</div>
								<p class="c-text__profile">2016年、妊娠・出産を経て大きく変化した心と身体が、ヨガを通して少しずつ整っていく。<br>
									そのプロセスの中で、動き・呼吸・哲学を通して心身が整うことに魅了され、ヨガ講師の道へ。<br>
									現在はヨガを軸に、ランニングや瞑想を取り入れながら、身体とマインドのバランスを大切にしたウェルネスなライフスタイルを実践・発信している。<br>
									東京・神奈川を中心に、スタジオレッスンのほか、自然の中でのヨガリトリートやラン×ヨガイベントの開催、イベント出演、瞑想ワークショップ、モデルなど幅広く活動中。</p>

								<div class="c-block__message">
									<h4 class="c-heading__message"><img src="/images/tournament/heading_message.webp" alt="大会へのメッセージ"></h4>
									<div class="c-inner__message">
										<p class="c-text__message">昨年、少しずつランニングを日常に取り入れ、ハーフマラソンに挑戦しました。<br>
										そのプロセスの中で、走ることを通して、自分の身体や心と向き合う時間を持つことができました。</p>
										<p class="c-text__message">うまくいく日も、辛く感じる日も含めて、たくさんの気づきと成長があり、その経験は、達成感や自信、感謝、そしてさらなるモチベーションへとつながりました！</p>
										<p class="c-text__message">今回はフルマラソンに挑戦します。<br>
											呼吸とともに自分のペースを大切にしながら進んでいきたいです♩</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<%- include("src/include/subColumn.html") %>
		</div>
	</section>
	</main>
	<%- include("src/include/footer.html") %>	
	<script type="module" src="/src/main.js"></script>
</body>
</html>