<!doctype html>
<html lang="ja_JP">
<head>
		<%
			const title = "スポンサー";
			const path="tournament/sponsor.html" 
			const description="2026年11月8日開催！ちばアクアラインマラソン2026ではスポンサー大募集中です。海ほたるの青く雄大な空と海に囲まれた景色の中や、千葉の田園を、市民ランナーが走ります。"
		%>
		<%- include("src/include/head.ejs", {title, path, description}) %>
</head>
<body class="l-guideline">
	<%- include("src/include/header.html") %>
	<main class="l-main">
	<section class="l-heading p-top__heading">
		<div class="c-heading__container--main">
			<h2 class="c-heading__main">スポンサー</h2>
		</div>
	</section>
	<div class="l-breadclumb">
		<ul>
			<li><a href="/">トップ</a></li>
			<li>大会情報</li>
			<li>スポンサー</li>
		</ul>
	</div>

	<section class="l-content">
		<div class="l-content__inner">
		<div class="l-column__main">
			<section class="c-container">
				<h3 class="c-heading__info">スポンサー</h3>
				<div class="p-sponsor__container">
					<h4 class="c-heading__guideline">オフィシャルスポンサー</h4>
					<ul class="p-sponsor__list p-sponsor__list--official" data-grade="gold">
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">株式会社新昭和</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_shinshowa.png" alt="ロゴ：株式会社新昭和"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_g01">応援コメントはコチラ！</a></p>
						</li>
					</ul>

					<ul class="p-sponsor__list p-sponsor__list--official" data-grade="silver">
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">日本賃貸保証株式会社</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_jid.png" alt="ロゴ：日本賃貸保証株式会社"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_s02">応援コメントはコチラ！</a></p>
						</li>
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">ミズノ株式会社</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_mizuno.png" alt="ロゴ：ミズノ株式会社"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_s01">応援コメントはコチラ！</a></p>
						</li>
					</ul>

					<ul class="p-sponsor__list p-sponsor__list--official" data-grade="volunteer">
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">株式会社オリエンタルランド</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_olc.png" alt="ロゴ：株式会社オリエンタルランド"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_v01">応援コメントはコチラ！</a></p>
						</li>
					</ul>

					<ul class="p-sponsor__list p-sponsor__list--official" data-grade="bronse">
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">株式会社アール・エフ・ラジオ日本</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img class="logo-jorf" src="/images/tournament/sponsor/bnr_sponsor_jorf.png" alt="ロゴ：株式会社アール・エフ・ラジオ日本"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_b01">応援コメントはコチラ！</a></p>
						</li>
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">キッコーマン株式会社</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_kikkoman.png" alt="ロゴ：キッコーマン株式会社"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_b02">応援コメントはコチラ！</a></p>
						</li>
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">株式会社京葉銀行</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_keiyobank.png" alt="ロゴ：株式会社京葉銀行"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_b08">応援コメントはコチラ！</a></p>
						</li>
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">三協フロンテア株式会社</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_sankyofrontier.png" alt="ロゴ：三協フロンテア株式会社"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_b03">応援コメントはコチラ！</a></p>
						</li>
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">株式会社JTB</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_jtb.webp" alt="ロゴ：株式会社JTC"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_b04">応援コメントはコチラ！</a></p>
						</li>
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">株式会社ZOZO</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_zozo.svg" alt="株式会社ZOZO"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_b09">応援コメントはコチラ！</a></p>
						</li>
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">株式会社千葉興業銀行</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_chibakogyobank.png" alt="ロゴ：株式会社千葉興業銀行"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_b10">応援コメントはコチラ！</a></p>
						</li>

						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">千葉テレビ放送株式会社</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_chibatv.svg" alt="ロゴ：千葉テレビ放送株式会社"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_b05">応援コメントはコチラ！</a></p>
						</li>
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">ニチバン株式会社</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_nichiban.png" alt="ロゴ：ニチバン株式会社"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_b07">応援コメントはコチラ！</a></p>
						</li>
						<li class="p-sponsor__item p-sponsor__item--official">
							<p class="p-sponsor__name--official">株式会社フォトクリエイト</p>
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_photocreate.webp" alt="ロゴ：株式会社フォトクリエイト"></p></div>
							<p class="p-sponsor__link--open-modal"><a data-micromodal-trigger="sponsor_b06">応援コメントはコチラ！</a></p>
						</li>
					</ul>
				</div>
				<div class="p-sponsor__container">
					<h4 class="c-heading__guideline">サポーティングスポンサー</h4>
					<ul class="p-sponsor__list p-sponsor__list--support">
						<li class="p-sponsor__item">
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_qvou.jpg" alt="ロゴ：霧島天然水のむシリカ"></p></div>
							<p class="p-sponsor__link"><a href="https://nomu-silica.jp/" target="_blank">霧島天然水のむシリカ</a></p>
						</li>
					</ul>
					<ul class="p-sponsor__list p-sponsor__list--support">
						<li class="p-sponsor__item">
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_asahikohsan.png" alt="ロゴ：旭興産グループ"></p></div>
							<p class="p-sponsor__link"><a href="https://www.asahi-kohsan-group.com/" target="_blank">旭興産グループ</a></p>
						</li>
						<li class="p-sponsor__item">
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_tokyowanferry.png" alt="ロゴ：東京湾フェリー株式会社"></p></div>
							<p class="p-sponsor__link"><a href="https://www.tokyowanferry.com/" target="_blank">東京湾フェリー株式会社</a></p>
						</li>
						<li class="p-sponsor__item">
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_dohyo.png" alt="ロゴ：株式会社道標"></p></div>
							<p class="p-sponsor__link"><a href="https://www.dohyo.co.jp/" target="_blank">株式会社道標</a></p>
						</li>
					</ul>
					<ul class="p-sponsor__list p-sponsor__list--support">
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only"><a href="http://chiba-gyoren.or.jp/" target="_blank">千葉県漁業協同組合連合会</a></p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only"><a href="https://www.oilshu.co.jp/" target="_blank">千葉オイレッシュ株式会社</a></p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only"><a href="https://www.echiba.org/" target="_blank">公益財団法人千葉県教育振興財団</a></p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only"><a href="https://www.toyokosoku.co.jp/" target="_blank">東葉高速鉄道株式会社</a></p>
						</li>
					</ul>
					<ul class="p-sponsor__list p-sponsor__list--support">
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">株式会社ウェザーニューズ</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">株式会社合同資源</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">JNC石油化学株式会社市原製造所</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">有限会社大虎</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">一般社団法人千葉県産業資源循環協会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">一般財団法人千葉県まちづくり公社</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">千葉工業大学</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">千葉石油株式会社</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">東京ガス株式会社千葉支社</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">株式会社ナリコー</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">古谷乳業株式会社</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">株式会社幕張メッセ</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">株式会社マザー牧場</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">マブチモーター株式会社</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">一般社団法人生命保険協会千葉県協会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">公益社団法人千葉県医師会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">公益社団法人千葉県観光物産協会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">一般社団法人千葉県経営者協会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">学校法人千葉経済学園</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">一般社団法人千葉県経済協議会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">千葉県経済同友会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">千葉県建設防水工事業協同組合</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">一般社団法人千葉県歯科医師会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">千葉県資源リサイクル事業協同組合連合会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">一般社団法人千葉県商工会議所連合会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">千葉県商工会連合会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">千葉県信用組合協会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">千葉県中部山砂事業協同組合</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">一般社団法人千葉県電業協会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">公益財団法人ちば県民保健予防財団</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">一般社団法人千葉県薬剤師会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">福井電機株式会社</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">ホテルポートプラザちば</p>
						</li>
					</ul>
				</div>
				<div class="p-sponsor__container">
					<h4 class="c-heading__guideline">運営サポートスポンサー</h4>
					<ul class="p-sponsor__list p-sponsor__list--support">
						<li class="p-sponsor__item">
							<div class="p-sponsor__block--logo"><p class="p-sponsor__logo"><img src="/images/tournament/sponsor/bnr_sponsor_chibakogyobank.png" alt="ロゴ：株式会社千葉興業銀行"></p></div>
							<p class="p-sponsor__link"><a href="https://www.chibakogyo-bank.co.jp/" target="_blank">株式会社千葉興業銀行</a></p>
						</li>
					</ul>
					<ul class="p-sponsor__list p-sponsor__list--support">
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">明るい社会づくりかずさ委員会</p>
						</li>
						<li class="p-sponsor__item">
							<p class="p-sponsor__link p-sponsor__link--text-only">ＳＯＭＰＯひまわり生命保険株式会社</p>
						</li>
					</ul>
				</div>
				<div class="p-sponsor__block--sponsorship">
					<a href="/tournament/sponsorship.html">
						<p class="p-sponsor__sponsorship--sub">ちばアクアラインマラソン2026</p>
						<p class="p-sponsor__sponsorship--main">スポンサー大募集！</p>
					</a>
				</div>
			</section>
		</div>
			<%- include("src/include/subColumn.html") %>
		</div>
	</section>

	<!-- モーダル -->
	<!-- ゴールド -->
	<div class="p-sponsor__modal" id="sponsor_g01" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img src="/images/tournament/sponsor/bnr_sponsor_shinshowa.png" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">株式会社新昭和</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://www.shinshowa.co.jp/" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>「一人ひとりが、輝く明日を」をスローガンに、創業以来、一般住宅をはじめ、分譲マンション、不動産、大規模建設、創出型アセットなど、街づくり事業を中心に取り組んでまいりました。<br>
					地球環境問題への取り組みとして、ゼロカーボンシティの実現に向けた脱炭素先行地域づくり事業への参画、太陽光発電やメガソーラーの普及を促進し、未来を担う子どもたちへの教育の場の提供、地域資源を活かした観光、アグリ、地域伝統産業の維持・発展など、様々な分野への進出を果たしております。<br>
					私たち新昭和グループは、「ちばアクアラインマラソン2026」を全力でサポートし、皆様の暮らしに寄り添いながら、より豊かで充実した暮らしをお届けできるよう邁進してまいります。</p>
				</div>
			</div>
		</div>
	</div>

	<!-- シルバー -->
	<div class="p-sponsor__modal" id="sponsor_s02" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img src="/images/tournament/sponsor/bnr_sponsor_jid.png" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">日本賃貸保証株式会社</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://jid-net.co.jp/" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>木更津市に本社を構える日本賃貸保証株式会社は、賃貸住宅を借りる際に必要な連帯保証人を当社が担う「賃貸保証システム」を立ち上げたパイオニア企業です。<br>
					誰もが差別なく住居に住まうことのできる公平・公正な社会の実現を目指し、おかげさまで2025年で創業30周年を迎えることができました。<br>
					これまでも多くの取り組みを木更津市と共に行ってきた地域に根差す一企業として、「ちばアクアラインマラソン」への協賛を通じ、更なる木更津市の発展に貢献してまいります。<br>
					私達はこれからも「真っ正直」に挑戦し続け、未来に向けて走り続けます。</p>
				</div>
			</div>
		</div>
	</div>

	<div class="p-sponsor__modal" id="sponsor_s01" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img src="/images/tournament/sponsor/bnr_sponsor_mizuno.png" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">ミズノ株式会社</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://corp.mizuno.com/jp" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>ミズノ株式会社は1906年創業以来、「より良いスポーツ品とスポーツの振興を通じて社会に貢献する」を経営理念に、スポーツ品の製造及び販売、スポーツ施設の運営、各種スクール事業を展開しています。スポーツの価値を活用した商品やサービスを開発し、日常生活にもその価値を積極的に広め、スポーツの力で世界中の人々を幸せにすることに貢献していきます。ちばアクアラインマラソンに協賛し、参加されるランナーやボランティアの皆さまの健康増進を応援いたします。</p>
				</div>
			</div>
		</div>
	</div>

	<!-- ボランティア -->
	<div class="p-sponsor__modal" id="sponsor_v01" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img class="logo-olc" src="/images/tournament/sponsor/bnr_sponsor_olc.png" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">株式会社オリエンタルランド</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://www.olc.co.jp" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>株式会社オリエンタルランドは、今後50年、100年先も「夢、感動、喜び、やすらぎ」を提供する企業であり続けられるよう挑戦し続けてまいります。<br>
					スポーツを通じた健康増進・体力向上や地域の活性化を目的として千葉県が開催する「ちばアクアラインマラソン」の主旨に賛同し、微力ながら応援させていただきます。</p>
				</div>
			</div>
		</div>
	</div>

	<!-- ブロンズ -->
	<div class="p-sponsor__modal" id="sponsor_b01" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img class="logo-jorf" src="/images/tournament/sponsor/bnr_sponsor_jorf.png" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">株式会社アール・エフ・ラジオ日本</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://www.jorf.co.jp/" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>ラジオ日本は、スポーツをする人を応援します！<br>
					あなたのランニングのおともに、ＡＭ1422ｋHz、ワイドＦＭ92.4MHzを。<br>
					音楽、ニュース、プロ野球中継など、ぜひお気に入りのコンテンツを見つけてください♪<br>
					スマホからradikoでもお聴きいただけます。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="p-sponsor__modal" id="sponsor_b02" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img src="/images/tournament/sponsor/bnr_sponsor_kikkoman.png" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">キッコーマン株式会社</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://www.kikkoman.co.jp/" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>キッコーマングループは、食に携わる企業として人々の「食と健康」に役立つ商品やサービスを提供しています。健康維持にはバランスの良い食生活と適度な運動が大切です。</p>
					<p>創業の地である千葉県の豊かな自然や地域の魅力を発信し、人々の健康増進を応援する「ちばアクアラインマラソン」を今年もサポートしてまいります。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="p-sponsor__modal" id="sponsor_b03" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img src="/images/tournament/sponsor/bnr_sponsor_sankyofrontier.png" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">三協フロンテア株式会社</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://www.sankyofrontier.com/" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>三協フロンテア株式会社は、建設現場の環境改善を旗印に、1969年千葉県柏市で創業以来、業界の先駆者としてユニットハウスの製造・販売・レンタルを主力事業として展開しています。</p>
					<p>従来の建築物はスクラップ＆ビルドが繰り返される中、当社は建設廃材をほとんどださない「モバイルスペース」を提供することで、資源循環型社会の実現を目指しています。</p>
					<p>地元千葉県への地域貢献・スポーツ支援活動の一環として、ちばアクアラインマラソン2026にモバイルスペースを設置し、運営をサポートするとともに、マラソンに参加される方々の挑戦を応援いたします。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="p-sponsor__modal" id="sponsor_b04" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img src="/images/tournament/sponsor/bnr_sponsor_jtb.webp" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">株式会社JTB</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://branch.jtbbwt.com/j3358-0" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>私たちJTBは、ブランドスローガン「感動のそばに、いつも。」のもと、地球を舞台に自然、文化、歴史とのふれあいや人々の交流を創造し、お客様にとっての感動や喜びと成果の実現を追求しています。また、お客様と共に歩んできた100年を大切にし、これからも「価値ある出会い」を創造し続け、サステナブルな社会の発展への貢献活動の一環として、「ちばアクアラインマラソン2026」をサポートして参ります。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="p-sponsor__modal" id="sponsor_b05" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img src="/images/tournament/sponsor/bnr_sponsor_chibatv.svg" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">千葉テレビ放送株式会社</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://www.chiba-tv.com/" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>「もっとローカル、ずっとローカル」——それがチバテレの想いです。<br>
					大会を通じて県民の皆さまに寄り添い、スタートからゴールまで、その熱意と感動をお届けします。<br>
					ランナーの一歩一歩の努力、沿道の声援、支える人々の思い——そのすべてが、この日を特別なものにします。<br>
					千葉テレビ放送（チバテレ）は、挑むランナーと大会を支える皆さまを心から応援します。<br>
					この経験が、あなたにとって忘れられない力となりますように。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="p-sponsor__modal" id="sponsor_b06" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img src="/images/tournament/sponsor/bnr_sponsor_photocreate.webp" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">株式会社フォトクリエイト</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://allsports.jp/event/01591192.html" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>スポーツ写真サイト・オールスポーツコミュニティを運営する株式会社フォトクリエイトです。<br>
						「感動をカタチにしてすべての人へ」<br>
						人生のかがやきの瞬間を写真というカタチにして皆さまへお届けいたします。<br>
						私たちは一枚一枚の"良い写真"にこだわるだけでなく、"ストーリー"として提案し、フォトライフ構想の実現を目指していきます。<br>
						それぞれの目標をもってちばアクアラインマラソンに参加されるランナー、そして大会に関わる全ての人を応援いたします。大会を楽しみながら、素敵なお写真をたくさん残して頂ければ幸いです！</p>
				</div>
			</div>
		</div>
	</div>
	<div class="p-sponsor__modal" id="sponsor_b07" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img class="logo-nichiban" src="/images/tournament/sponsor/bnr_sponsor_nichiban.png" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">ニチバン株式会社</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://www.careleaves.com/" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>私たちニチバン株式会社は、企業メッセージ「Sticking to your needs ぴったり技術で明日をつくる」のもと、独自の粘着技術で皆様の快適で健康な生活に貢献しています。海の上を駆け抜ける「ちばアクアラインマラソン2026」。最後まで自分らしい走りを続けていただくために、ニチバンはランナー特有の「痛み」や「不安」をサポートします。<br>肌にやさしく動きにフィットする「ケアリーヴ&trade;」でバストトップを保護し、水や汗に強い「ガッチリバン™」で靴擦れを防ぐ。<br>私たちの「ぴったり技術」が、あなたの完走への挑戦を一番近くで支えます。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="p-sponsor__modal" id="sponsor_b08" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img src="/images/tournament/sponsor/bnr_sponsor_keiyobank.png" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">株式会社京葉銀行</h5>
					<p class="p-sponsor__button--modal-link"><a href="http://www.keiyobank.co.jp" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>京葉銀行は本大会のコンセプトである「スポーツの振興」と「千葉県の魅力発信」に共感し、今年も「ちばアクアラインマラソン2026」大会に協賛させていただきました。<br>
						スポーツの持つ力による地域振興と活性化を支援することで、地域の豊かな未来をともに築いてまいります。<br>
						東京湾の風に乗り、海の上を走る「アクアラインマラソン2024」大会に出場するすべてのランナー・ボランティアの皆さまのご活躍を、心より応援しております。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="p-sponsor__modal" id="sponsor_b09" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img src="/images/tournament/sponsor/bnr_sponsor_zozo.svg" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">株式会社ZOZO</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://zozo.jp/" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>株式会社ZOZOは千葉に本社を置き、地元千葉を盛り上げるべく、さまざまな地域貢献活動を行っております。<br>
						このたび、「ちばアクアラインマラソン2026」のキービジュアルを当社デザイナーが担当いたしました。<br>
						「青い空と、青い海と、青い風と、アクアラインのランナーと」をコンセプトに、「ブルー」で爽やかさと広がりを演出したデザインになっています。<br>
						「千葉をカッコよく、千葉に笑顔を。」を届けられるよう、これからもサポートしてまいります。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="p-sponsor__modal" id="sponsor_b10" area-hidden="true">
		<div class="p-sponsor__modal--overlay" tabindex="1"></div>
		<div class="p-sponsor__modal--container" aria-modal="true" data-micromodal-close>
			<div class="p-sponsor__modal--inner">
				<a class="p-sponsor__button--close" data-micromodal-close></a>
				<p class="p-sponsor__logo--modal"><img src="/images/tournament/sponsor/bnr_sponsor_chibakogyobank.png" alt=""></p>
				<div class="p-sponsor__block--name-modal">
					<h5 class="p-sponsor__text--name-modal">株式会社千葉興業銀行</h5>
					<p class="p-sponsor__button--modal-link"><a href="https://www.chibakogyo-bank.co.jp/" target="_blank">Webサイト</a></p>
				</div>
				<div class="p-sponsor__comment--modal">
					<p>千葉興業銀行グループは「いちばん近くで、いちばん先まで。千のしあわせを、興そう。」というパーパスのもと、地域社会への貢献を目指しています。<br>
					「ちばアクアラインマラソン2026」では、ランナーの皆様が目指すゴールへ向けた挑戦を全力で応援します。<br>
					一緒に、いくつものしあわせを興していくために。これまでも、この先もずっと。あなたのそばに、千葉興業銀行グループがいます。</p>
				</div>
			</div>
		</div>
	</div>
	<!-- // ブロンズ -->
	<!-- // モーダルここまで -->
	</main>
	<%- include("src/include/footer.html") %>	
	<script type="module" src="/src/main.js"></script>
</body>
</html>