<!doctype html>
<html lang="ja_JP">
<head>
		<%
			const title = "エントリー";
			const path="tournament/sponsorship.html" 
			const description="2026年11月8日開催！ちばアクアラインマラソン2026ではスポンサー大募集中です。海ほたるの青く雄大な空と海に囲まれた景色の中や、千葉の田園を、市民ランナーが走ります。"
		%>
		<%- include("src/include/head.ejs", {title, path, description}) %>
</head>
<body class="l-guideline">
	<%- include("src/include/header.html") %>
	<main class="l-main">
	<section class="l-heading p-top__heading">
		<div class="c-heading__container--main">
			<h2 class="c-heading__main">ランナー</h2>
		</div>
	</section>
	<div class="l-breadclumb">
		<ul>
			<li><a href="/">トップ</a></li>
			<li>ランナー</li>
			<li>エントリー</li>
		</ul>
	</div>

	<section class="l-content">
		<div class="l-content__inner">
		<div class="l-column__main">
			<section class="c-container">
				<hgroup class="c-heading__wrap--sign">
					<h3 class="c-heading__sign">3月中旬以降エントリー開始！！</h3>
				</hgroup>
				<div class="c-block__guideline">
					<p class="c-text__guideline--entry">申込は先着順となりますので、
						<a class="c-link__external c-link__underline" href="https://www.sportsentry.ne.jp/register" target="_blank">スポーツエントリー</a>への事前登録をオススメいたします。</p>
				</div>
			</section>
		</div>
			<%- include("src/include/subColumn.html") %>
		</div>
	</section>
	</main>
	<%- include("src/include/footer.html") %>	
	<script type="module" src="/src/main.js"></script>
</body>
</html>