<!doctype html>
<html lang="ja_JP">
<head>
		<%
			const title = "エントリー";
			const path="tournament/sponsorship.html" 
			const description="2026年11月8日開催！ちばアクアラインマラソン2026ではスポンサー大募集中です。海ほたるの青く雄大な空と海に囲まれた景色の中や、千葉の田園を、市民ランナーが走ります。"
		%>
		<%- include("src/include/head.ejs", {title, path, description}) %>
</head>
<body class="l-guideline">
	<%- include("src/include/header.html") %>
	<main class="l-main">
	<section class="l-heading p-top__heading">
		<div class="c-heading__container--main">
			<h2 class="c-heading__main">ランナー</h2>
		</div>
	</section>
	<div class="l-breadclumb">
		<ul>
			<li><a href="/">トップ</a></li>
			<li>ランナー</li>
			<li>エントリー</li>
		</ul>
	</div>

	<section class="l-content">
		<div class="l-content__inner">
		<div class="l-column__main">
			<section class="c-container">
				<h3 class="c-heading__info  p-entry__heading--info">エントリー</h3>
				<div class="p-entry__block--entry-caution">
					<h4 class="p-entry__heading--entry-caution"><span>ご注意ください</span></h4>
					<p class="p-entry__text--entry-caution">各エントリー枠は<br class="u-sp"><span>全て先着順</span>です。<br class="u-sp">ご注意ください。</p>
				</div>
				<div class="p-entry__wrap--entry-schedule">
					<div class="p-entry__block--entry-schedule">
						<h4 class="p-entry__heading--entry-schedule">ふるさと納税枠</h4>
						<p class="p-entry__text--entry-schedule-date only-date">2026.3.1<span>（日）</span>～</p>
					</div>
					<div class="p-entry__block--entry-schedule">
						<h4 class="p-entry__heading--entry-schedule">ちば県民先行枠</h4>
						<p class="p-entry__text--entry-schedule-date">2026.3.15<span>（日）</span></p>
						<p class="p-entry__text--entry-schedule-time">午後8時 ～</p>
					</div>
					<div class="p-entry__block--entry-schedule">
						<h4 class="p-entry__heading--entry-schedule">一般枠<span>など</span></h4>
						<p class="p-entry__text--entry-schedule-date">2026.3.22<span>（日）</span></p>
						<p class="p-entry__text--entry-schedule-time">午後8時 ～</p>
					</div>
				</div>
				<p class="p-entry__button--entry"><a>参加申し込みはこちら</a></p>
			</section>
			<section class="c-container">
				<h3 class="c-heading__info  p-entry__heading--info">エントリー概要</h3>
				<div class="c-block__guideline p-entry__block--guideline">
					<h4 class="c-heading__guideline p-entry__heading--guideline">参加案内</h4>
					<div class="p-entry__wrap--table-guide js-scrollable">
						<table>
							<thead>
								<tr>
									<th>参加料</th>
									<th>入金方法</th>
									<th>入金手続</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="p-entry__cell--price">
											<p>マラソン</p>
											<p class="price">16,500円</p>
										</div>
									</td>
									<td class="no-break align-center valign-center" rowspan="3">クレジットカード<br>
										又は<br>
										コンビニ決済</td>
									<td rowspan="3">
										<ul class="p-entry__list--number">
											<li>1. 指定の期日までに所定の方法で参加料等の入金手続を完了してください。</li>
											<li>2. 指定の期日までに入金手続が完了しない場合、申込は無効となります。</li>
											<li>3. インターネットでの決済時にかかるシステム利用料（合計額の5.3％）は申込者の負担となります。<br>
											また、支払方法に応じて別途振込手数料がかかる場合があります。</li>
											<li>4. グループ申込みの当選者は、代表者が人数分の合計額を一括してお支払いください。</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>
										<div class="p-entry__cell--price">
											<p>ハーフマラソン<br>
												車いすハーフマラソン</p>
											<p class="price">13,500円</p>
										</div>
										<ul class="p-entry__caution--kome">
											<li>※ 車いすハーフマラソンに申し込みをされる方は、パラ・スポーツ枠へお申込ください。</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p class="c-button__standard c-button__download p-entry__button--pdf">
						<a href="/pdf/aqualine2026_runner_pamphlet.pdf" target="_blank">参加申込案内の詳細はこちら</a>
					</p>
				</div>
				<div class="c-block__guideline p-entry__block--guideline">
					<h4 class="c-heading__guideline p-entry__heading--guideline">申込に際して</h4>
					<p class="p-entry__text--emp">申込に際しては、スポーツエントリーのメンバー登録が必要です。</p>
					<p class="c-text__guideline p-entry__text--guideline">事前のご登録をおすすめいたします。</p>
					<p class="c-text__guideline p-entry__text--guideline">「ふるさと納税枠」をお申し込みの方は<a href="#hometown">こちら</a>よりお申込みください。</p>
					<div class="p-entry__button p-entry__button--sports-entry">
						<p class="c-button__standard"><a href="https://www.sportsentry.ne.jp/register" target="_blank">スポーツエントリー　メンバー登録はこちら</a></p>
					</div>
				</div>
				<div class="c-block__guideline p-entry__block--guideline">
					<h4 class="c-heading__guideline p-entry__heading--guideline">参加資格</h4>
					<ul class="c-list__guideline--number p-entry__list--guideline">
						<li>1. 2008（平成20）年4月1日以前に生まれた者で、競技時間内に完走できる者とします。</li>
						<li>2. 車いすハーフマラソンはレース仕様の車いすでの参加に限ります。</li>
						<li>3. マラソン、ハーフマラソンへの参加希望者で、単独走行が困難な障害のある方は、伴走者（介護者）を同行させることができます。ただし、伴走者は参加者が手配することとします。（盲導犬の伴走は不可）。</li>
					</ul>
				</div>
				<div class="c-block__guideline p-entry__block--guideline">
					<h4 class="c-heading__guideline p-entry__heading--guideline">申込区分</h4>
					<p class="c-text__guideline p-entry__text--guideline">一部のエントリー枠を除き、ペア・団体でもご参加いただけます。</p>
					<dl class="p-entry__list--division">
						<dt>個人</dt>
						<dd>個人エントリー</dd>
						<dt>ペア</dt>
						<dd>ペアエントリー（2人、男女の別は問いません）</dd>
						<dt>団体</dt>
						<dd>団体戦エントリー（3～6人、マラソンのみ）</dd>
					</dl>
				</div>
			</section>
			<section class="c-container">
				<div class="c-block__guideline p-entry__block--guideline">
					<h4 class="c-heading__guideline p-entry__heading--guideline">ピックアップ</h4>
					<div class="p-entry__wrap--pickup">
						<div class="p-entry__block--pickup">
							<p class="p-entry__icon--pickup chiba"><img src="/images/runner/entry/icon_chiba.svg" alt=""></p>
							<h5 class="p-entry__heading--pickup">ちば県民先行<span>枠</span></h5>
							<div class="p-entry__inner--texts">
								<p class="p-entry__text--pickup"> 千葉県に在住の方に限り<br>申込をすることができます。</p>
							</div>
							<ul class="p-entry__list--pickup">
								<li>マラソン　定員：3,500人</li>
								<li>ハーフマラソン　定員：1,500人　</li>
							</ul>
							<a class="p-entry__anchor--pickup" href="#chiba">詳細はこちら</a>
						</div>
						<div class="p-entry__block--pickup">
							<p class="p-entry__icon--pickup student"><img src="/images/runner/entry/icon_student.svg" alt=""></p>
							<h5 class="p-entry__heading--pickup">学生応援<span>枠</span></h5>
							<div class="p-entry__inner--texts">
								<p class="p-entry__text--pickup">学生の方限定で申込ができます</p>
								<ul class="p-entry__list--pickup-caution">
									<li>※ 学生応援特典（ZOZOUSEDクーポン）等があります。</li>
									<li>※ エントリー時に学生証の写真データの添付が必要です。</li>
								</ul>
							</div>
							<ul class="p-entry__list--pickup">
								<li>マラソン　定員：300人</li>
								<li>ハーフマラソン　定員：100人　</li>
							</ul>
							<a class="p-entry__anchor--pickup" href="#student">詳細はこちら</a>
						</div>
						<div class="p-entry__block--pickup">
							<p class="p-entry__icon--pickup woman"><img src="/images/runner/entry/icon_woman.svg" alt=""></p>
							<h5 class="p-entry__heading--pickup">女性応援<span>枠</span></h5>
							<div class="p-entry__inner--texts">
								<p class="p-entry__text--pickup">女性の方限定で申込ができます</p>
								<ul class="p-entry__list--pickup-caution">
									<li>※ 女性応援特典（ZOZOCOSMEクーポン）等があります。</li>
								</ul>
							</div>
							<ul class="p-entry__list--pickup">
								<li>マラソン　定員：300人</li>
								<li>ハーフマラソン　定員：100人　</li>
							</ul>
							<a class="p-entry__anchor--pickup" href="#woman">詳細はこちら</a>
						</div>
					</div>
				</div>
				<div class="c-block__guideline p-entry__block--guideline">
					<h4 class="c-heading__guideline p-entry__heading--guideline">参加募集案内</h4>
					<div id="chiba" class="p-entry__block--guide">
						<hgroup  class="p-entry__heading--guide">
							<p class="p-entry__icon--recruit"><img src="/images/runner/entry/icon_chiba.svg" alt=""></p>
							<div class="p-entry__inner--recruit-heading">
								<h5 class="heading">ちば県民先行枠</h5>
								<p class="explain">千葉県に在住の方に限り申込をすることができます。</p>
							</div>
						</hgroup>
						<p class="p-entry__text--recruit-emp"><span>※ペア・団体でのエントリーの場合も参加者全員が千葉県に在住である必要があります。</span></p>
						<div class="p-entry__wrap--table-guide p-entry__wrap--table-recruit js-scrollable">
							<table>
								<thead>
									<tr>
										<th class="empty"></th>
										<th>フルマラソン</th>
										<th>ハーフマラソン</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>申込区分</th>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
												<p class="p-entry__icon--guide">ペア</p>
												<p class="p-entry__icon--guide">団体</p>
											</div>
										</td>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
												<p class="p-entry__icon--guide">ペア</p>
											</div>
										</td>
									</tr>
									<tr>
										<th>定員</th>
										<td class="align-center">3,500人</td>
										<td class="align-center">1,500人</td>
									</tr>
									<tr>
										<th>募集期間</th>
										<td class="align-center" colspan="2">3月15日（日）午後8時 ～ 3月18日（水）午後5時</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="standard" class="p-entry__block--guide">
						<hgroup  class="p-entry__heading--guide">
							<p class="p-entry__icon--recruit"><img src="/images/runner/entry/icon_standard.svg" alt=""></p>
							<div class="p-entry__inner--recruit-heading">
								<h5 class="heading">一般枠</h5>
								<p class="explain">県内外問わずどなたでも申込をすることができます。</p>
							</div>
						</hgroup>

						<p class="p-entry__text--recruit-emp"><span>車いすハーフマラソン</span>に申し込みをされる方は、<a href="#para">パラ・スポーツ</a>枠へお申込ください。</p>
						<div class="p-entry__wrap--table-guide p-entry__wrap--table-recruit js-scrollable">
							<table>
								<thead>
									<tr>
										<th class="empty"></th>
										<th>フルマラソン</th>
										<th>ハーフマラソン</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>申込区分</th>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
												<p class="p-entry__icon--guide">ペア</p>
												<p class="p-entry__icon--guide">団体</p>
											</div>
										</td>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
												<p class="p-entry__icon--guide">ペア</p>
											</div>
										</td>
									</tr>
									<tr>
										<th>定員</th>
										<td class="align-center">6,690人</td>
										<td class="align-center">2,710人</td>
									</tr>
									<tr>
										<th>募集期間</th>
										<td class="align-center" colspan="2">3/22（日）午後8時 ～ 4/12（日）午後5時</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="asreet" class="p-entry__block--guide">
						<hgroup  class="p-entry__heading--guide">
							<p class="p-entry__icon--recruit"><img src="/images/runner/entry/icon_asreet.svg" alt=""></p>
							<div class="p-entry__inner--recruit-heading">
								<h5 class="heading">アスリートランナー枠</h5>
								<p class="explain">対象期間内に開催された大会で設定時間をクリアした方が対象となります。</p>
							</div>
						</hgroup>

						<p class="p-entry__text--recruit">【対象期間】<br>
							令和6年11月10日～令和8年3月31日<br>
							【設定時間】<br>
							男性3時間30分以内<br>
							女性4時間00分以内</p>
						<ul class="p-entry__list--kome p-entry__list--recruit">
							<li>※ 上記要件の確認のため、エントリー時に記録証の写真データの添付が必要です。</li>
							<li>※ 虚偽申告があった場合は、失格又は、スタートブロックの配置換えを行います。</li>
						</ul>
						<div class="p-entry__wrap--table-guide p-entry__wrap--table-recruit js-scrollable">
							<table>
								<thead>
									<tr>
										<th class="empty"></th>
										<th>フルマラソン</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>申込区分</th>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
											</div>
										</td>
									</tr>
									<tr>
										<th>定員</th>
										<td class="align-center">600人</td>
									</tr>
									<tr>
										<th>募集期間</th>
										<td class="align-center">3/22（日）午後8時 ～ 5/7（木）午後5時</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="para" class="p-entry__block--guide">
						<hgroup  class="p-entry__heading--guide">
							<p class="p-entry__icon--recruit"><img src="/images/runner/entry/icon_para.svg" alt=""></p>
							<div class="p-entry__inner--recruit-heading">
								<h5 class="heading">パラ・スポーツ枠</h5>
								<p class="explain">障害者手帳・療育手帳等をお持ちの方が対象です。</p>
							</div>
						</hgroup>

						<ul class="p-entry__list--kome p-entry__list--recruit">
							<li>※ 伴走者を同行させる場合は、エントリー時に忘れずに申込ください。</li>
							<li>※ 車いすハーフマラソンに申し込みをされる方は、こちらから申込ください。</li>
						</ul>
						<div class="p-entry__wrap--table-guide p-entry__wrap--table-recruit js-scrollable">
							<table>
								<thead>
									<tr>
										<th class="empty"></th>
										<th>フルマラソン</th>
										<th>ハーフマラソン</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>申込区分</th>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
											</div>
										</td>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
											</div>
										</td>
									</tr>
									<tr>
										<th>定員</th>
										<td class="align-center">25人</td>
										<td class="align-center">25人</td>
									</tr>
									<tr>
										<th>募集期間</th>
										<td class="align-center" colspan="2">3/22（日）午後8時 ～ 5/7（木）午後5時</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="charity" class="p-entry__block--guide">
						<hgroup  class="p-entry__heading--guide">
							<p class="p-entry__icon--recruit"><img src="/images/runner/entry/icon_charity.svg" alt=""></p>
							<div class="p-entry__inner--recruit-heading">
								<h5 class="heading">チャリティ枠</h5>
								<p class="explain">チャリティの趣旨に賛同し、５万円以上を寄附された方が対象です。（参加料が別途必要です）</p>
							</div>
						</hgroup>

						<ul class="p-entry__list--kome p-entry__list--recruit">
							<li>※ 寄附者以外の方へ出走権を譲渡することも可能です。</li>
							<li>※ 寄附先の証明により、税制上の優遇措置が受けられます。</li>
							<li>※ 特典「チャリティグッズの贈呈」「プレミアムゼッケン（希望性）」を予定しております。（内容については変更の可能性があります。）</li>
						</ul>
						<p class="p-entry__text--recruit">寄附先（選択式）</p>
						<ul class="p-entry__list--number p-entry__list--recruit u-mt-0">
							<li>1. 千葉県スポーツ振興基金（公益財団法人千葉県教育振興財団）<br>千葉県のスポーツ団体や市町村等が行うスポーツ振興事業・レクリエーション活動等に活用されます。</li>
							<li>2. 赤十字活動資金（日本赤十字社千葉県支部）<br>災害救護活動をはじめとする、救急法等の普及や防災・減災の啓発などの人道的活動に活用されます。</li>
						</ul>
						<div class="p-entry__wrap--table-guide p-entry__wrap--table-recruit">
							<table>
								<thead>
									<tr>
										<th class="empty"></th>
										<th>フルマラソン</th>
										<th>ハーフマラソン</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>申込区分</th>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
											</div>
										</td>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
											</div>
										</td>
									</tr>
									<tr>
										<th>定員</th>
										<td class="align-center">25人</td>
										<td class="align-center">25人</td>
									</tr>
									<tr>
										<th>募集期間</th>
										<td class="align-center" colspan="2">3/22（日）午後8時 ～ 5/7（木）午後5時</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="stay" class="p-entry__block--guide">
						<hgroup  class="p-entry__heading--guide">
							<p class="p-entry__icon--recruit"><img src="/images/runner/entry/icon_stay.svg" alt=""></p>
							<div class="p-entry__inner--recruit-heading">
								<h5 class="heading">宿泊プラン枠</h5>
								<p class="explain">出走権と千葉県内宿泊施設の宿泊代金をセットにした枠です。（参加料が含まれます）</p>
							</div>
						</hgroup>

						<div class="p-entry__wrap--table-guide p-entry__wrap--table-recruit js-scrollable">
							<table>
								<thead>
									<tr>
										<th class="empty"></th>
										<th>フルマラソン</th>
										<th>ハーフマラソン</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>申込区分</th>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
												<p class="p-entry__icon--guide">ペア</p>
												<p class="p-entry__icon--guide">団体</p>
											</div>
										</td>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
												<p class="p-entry__icon--guide">ペア</p>
											</div>
										</td>
									</tr>
									<tr>
										<th>定員</th>
										<td class="align-center">275人</td>
										<td class="align-center">375人</td>
									</tr>
									<tr>
										<th>募集期間</th>
										<td class="align-center" colspan="2">3/22（日）午後8時 ～ 5/7（木）午後5時</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="oversea" class="p-entry__block--guide">
						<hgroup  class="p-entry__heading--guide">
							<p class="p-entry__icon--recruit"><img src="/images/runner/entry/icon_oversea.svg" alt=""></p>
							<div class="p-entry__inner--recruit-heading">
								<h5 class="heading">海外ランナー枠</h5>
								<p class="explain">海外在住の外国籍の方が対象です。</p>
							</div>
						</hgroup>

						<div class="p-entry__wrap--table-guide p-entry__wrap--table-recruit js-scrollable">
							<table>
								<thead>
									<tr>
										<th class="empty"></th>
										<th>フルマラソン</th>
										<th>ハーフマラソン</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>申込区分</th>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
												<p class="p-entry__icon--guide">ペア</p>
												<p class="p-entry__icon--guide">団体</p>
											</div>
										</td>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
												<p class="p-entry__icon--guide">ペア</p>
											</div>
										</td>
									</tr>
									<tr>
										<th>定員</th>
										<td class="align-center">200人</td>
										<td class="align-center">200人</td>
									</tr>
									<tr>
										<th>募集期間</th>
										<td class="align-center" colspan="2">3/22（日）午後8時 ～ 5/7（木）午後5時</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="student" class="p-entry__block--guide">
						<hgroup  class="p-entry__heading--guide">
							<p class="p-entry__icon--recruit"><img src="/images/runner/entry/icon_student.svg" alt=""></p>
							<div class="p-entry__inner--recruit-heading">
								<h5 class="heading">学生応援枠</h5>
								<p class="explain">学生の方限定で申込ができます。</p>
							</div>
						</hgroup>
						<ul class="p-entry__list--kome p-entry__list--recruit">
							<li>※ 学生応援特典（ZOZOUSEDクーポン）等があります。</li>
							<li>※ エントリー時に学生証の写真データの添付が必要です。</li>
						</ul>
						<p class="p-entry__text--recruit-emp"><span>※ペア・団体で申込む場合、参加者全員の学生証を1枚の写真データに収めたものを添付してください。</span></p>
						<div class="p-entry__wrap--table-guide p-entry__wrap--table-recruit js-scrollable">
							<table>
								<thead>
									<tr>
										<th class="empty"></th>
										<th>フルマラソン</th>
										<th>ハーフマラソン</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>申込区分</th>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
												<p class="p-entry__icon--guide">ペア</p>
												<p class="p-entry__icon--guide">団体</p>
											</div>
										</td>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
												<p class="p-entry__icon--guide">ペア</p>
											</div>
										</td>
									</tr>
									<tr>
										<th>定員</th>
										<td class="align-center">300人</td>
										<td class="align-center">100人</td>
									</tr>
									<tr>
										<th>募集期間</th>
										<td class="align-center" colspan="2">3/22（日）午後8時 ～ 5/7（木）午後5時</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="woman" class="p-entry__block--guide">
						<hgroup  class="p-entry__heading--guide">
							<p class="p-entry__icon--recruit"><img src="/images/runner/entry/icon_woman.svg" alt=""></p>
							<div class="p-entry__inner--recruit-heading">
								<h5 class="heading">女性応援枠</h5>
								<p class="explain">女性の方限定で申込ができます。</p>
							</div>
						</hgroup>
						<ul class="p-entry__list--kome p-entry__list--recruit">
							<li>※ 女性応援特典（ZOZOCOSMEクーポン）等があります。</li>
						</ul>
						<div class="p-entry__wrap--table-guide p-entry__wrap--table-recruit js-scrollable">
							<table>
								<thead>
									<tr>
										<th class="empty"></th>
										<th>フルマラソン</th>
										<th>ハーフマラソン</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>申込区分</th>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
											</div>
										</td>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
											</div>
										</td>
									</tr>
									<tr>
										<th>定員</th>
										<td class="align-center">300人</td>
										<td class="align-center">100人</td>
									</tr>
									<tr>
										<th>募集期間</th>
										<td class="align-center" colspan="2">3/22（日）午後8時 ～ 5/7（木）午後5時</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="late" class="p-entry__block--guide">
						<hgroup  class="p-entry__heading--guide">
							<p class="p-entry__icon--recruit"><img src="/images/runner/entry/icon_late.svg" alt=""></p>
							<div class="p-entry__inner--recruit-heading">
								<h5 class="heading">レイトエントリー枠</h5>
								<p class="explain">県内外問わずどなたでも申込をすることができます。</p>
							</div>
						</hgroup>

						<div class="p-entry__wrap--table-guide p-entry__wrap--table-recruit js-scrollable">
							<table>
								<thead>
									<tr>
										<th class="empty"></th>
										<th>フルマラソン</th>
										<th>ハーフマラソン</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>申込区分</th>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
												<p class="p-entry__icon--guide">ペア</p>
												<p class="p-entry__icon--guide">団体</p>
											</div>
										</td>
										<td>
											<div class="p-entry__wrap--icons-guide">
												<p class="p-entry__icon--guide">個人</p>
												<p class="p-entry__icon--guide">ペア</p>
											</div>
										</td>
									</tr>
									<tr>
										<th>定員</th>
										<td class="align-center">約100人</td>
										<td class="align-center">約50人</td>
									</tr>
									<tr>
										<th>募集期間</th>
										<td class="align-center" colspan="2">5/31（日）午後8時 ～ 6/8（月）午後5時</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="hometown" class="p-entry__block--guide">
						<hgroup  class="p-entry__heading--guide">
							<p class="p-entry__icon--recruit"><img src="/images/runner/entry/icon_hometown.svg" alt=""></p>
							<div class="p-entry__inner--recruit-heading">
								<h5 class="heading">ふるさと納税枠</h5>
							</div>
						</hgroup>
						<p class="p-entry__text--recruit">木更津市、君津市、富津市、袖ケ浦市の地元４市のふるさと納税枠になります。</p>
						<p class="p-entry__text--recruit-emp"><span>各市のふるさと納税サイトから申込をお願いいたします。</span></p>
						<ul class="p-entry__list--kome p-entry__list--recruit">
							<li>※ふるさと納税枠のご質問については、各自治体に直接お問い合わせください。</li>
							<li>※ふるさと納税の寄付金と参加料は別になります。（参加料が別途必要です）</li>
						</ul>
						<h5 class="c-heading__guideline p-entry__heading--guideline p-entry__heading--hometown">参加資格</h5>
						<p class="p-entry__text--recruit">木更津市、君津市、富津市、袖ケ浦市</p>
						<h5 class="c-heading__guideline p-entry__heading--guideline p-entry__heading--hometown">申込期間</h5>
						<p class="p-entry__text--recruit">3月1日（日）～</p>
						<h5 class="c-heading__guideline p-entry__heading--guideline p-entry__heading--hometown">申込方法</h5>
						<p class="p-entry__text--recruit">各市の以下専用申込サイトより申込の上、寄付金をお支払いください。</p>
						<div class="p-entry__container--tabs js-switch-tab">
							<ul class="p-entry__list--tabs tabs">
								<li class="is-current" data-tab="kisarazu">木更津市</li>
								<li data-tab="kimitsu">君津市</li>
								<li data-tab="futtsu">富津市</li>
								<li data-tab="sodegaura">袖ケ浦市</li>
							</ul>
							<div class="p-entry__wrap--tabs contents">
								<div class="p-entry__block--tab tab-content is-current" id="kisarazu">
									<ul class="p-entry__list--banners">
										<li><a href="https://www.furusato-tax.jp/city/product/12206" target="_blank"><img src="/images/runner/entry/banner_choise.webp" alt="バナー：ふるさとチョイス"></a></li>
										<li><a href="https://www.rakuten.co.jp/f122068-kisarazu/" target="_blank"><img src="/images/runner/entry/banner_rakuten.png" alt="バナー：楽天ふるさと納税"></a></li>
									</ul>
								</div>
								<div class="p-entry__block--tab tab-content" id="kimitsu">
									<ul class="p-entry__list--banners">
										<li><a href="https://www.furusato-tax.jp/city/product/12225" target="_blank"><img src="/images/runner/entry/banner_choise.webp" alt="バナー：ふるさとチョイス"></a></li>
										<li><a href="https://www.rakuten.ne.jp/gold/f122254-kimitsu/" target="_blank"><img src="/images/runner/entry/banner_rakuten.png" alt="バナー：楽天ふるさと納税"></a></li>
									</ul>
								</div>
								<div class="p-entry__block--tab tab-content" id="futtsu">
									<ul class="p-entry__list--banners">
										<li><a href="https://www.furusato-tax.jp/city/product/12226" target="_blank"><img src="/images/runner/entry/banner_choise.webp" alt="バナー：ふるさとチョイス"></a></li>
										<li><a href="https://www.rakuten.co.jp/f122262-futtsu/" target="_blank"><img src="/images/runner/entry/banner_rakuten.png" alt="バナー：楽天ふるさと納税"></a></li>
									</ul>
								</div>
								<div class="p-entry__block--tab tab-content" id="sodegaura">
									<ul class="p-entry__list--banners">
										<li><a href="https://www.furusato-tax.jp/product/detail/12229/6947472" target="_blank"><img src="/images/runner/entry/banner_choise.webp" alt="バナー：ふるさとチョイス"></a></li>
										<li><a href="https://item.rakuten.co.jp/f122297-sodegaura/26440708/" target="_blank"><img src="/images/runner/entry/banner_rakuten.png" alt="バナー：楽天ふるさと納税"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="c-block__guideline p-entry__block--guideline">
					<h4 class="c-heading__guideline p-entry__heading--guideline">申込から大会参加までの流れ</h4>
					<p class="p-entry__image--flow js-scrollable">
						<img src="/images/runner/entry/img_flow.webp" alt="">
					</p>
				</div>
			</section>
		</div>
			<%- include("src/include/subColumn.html") %>
		</div>
	</section>
	</main>
	<%- include("src/include/footer.html") %>	
	<script type="module" src="/src/main.js"></script>
</body>
</html>