<!doctype html>
<html lang="ja_JP">
<head>
		<%
			const title = "募集要項";
			const path="runner/guidelines.html" 
			const description="2026年11月8日開催！ちばアクアラインマラソン2026の募集要項です。海ほたるの青く雄大な空と海に囲まれた景色の中や、千葉の田園を、市民ランナーが走ります。"
		%>
		<%- include("src/include/head.ejs", {title, path, description}) %>
</head>
<body class="l-guideline">
	<%- include("src/include/header.html") %>
	<main class="l-main">
	<section class="l-heading p-top__heading">
		<div class="c-heading__container--main">
			<h2 class="c-heading__main">大会情報</h2>
		</div>
	</section>
	<div class="l-breadclumb">
		<ul>
			<li><a href="/">トップ</a></li>
			<li>大会情報</li>
			<li>募集要項</li>
		</ul>
	</div>
	<section class="l-content">
		<div class="l-content__inner">
		<div class="l-column__main">
			<section class="c-container">
				<h3 class="c-heading__info">ちばアクアラインマラソン2026 募集要項</h3>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">1. 大会名称</h4>
					<p class="c-text__guideline">ちばアクアラインマラソン2026（英語名 CHIBA AQUALINE MARATHON 2026）</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">2. 主催</h4>
					<p class="c-text__guideline">千葉県、千葉県教育委員会</p>
					<ul class="c-list__guideline--dot">
						<li>車いすハーフマラソン：午前9時40分スタート</li>
						<li>マラソン・ハーフマラソン：午前9時45分スタート</li>
					</ul>
				</div>
				
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">3. 共催</h4>
					<p class="c-text__guideline">木更津市、袖ケ浦市、木更津市教育委員会、袖ケ浦市教育委員会、東京湾アクアラインを活用した地域づくり推進連絡協議会、中房総観光推進ネットワーク協議会</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">4. 企画・運営</h4>
					<p class="c-text__guideline">ちばアクアラインマラソン実行委員会</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">5. 主管</h4>
					<p class="c-text__guideline">一般財団法人千葉陸上競技協会</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">6. 運営協力</h4>
					<p class="c-text__guideline">特定非営利活動法人関東パラ陸上競技協会</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">7. 後援</h4>
					<p class="c-text__guideline">スポーツ庁、公益財団法人千葉県スポーツ協会、千葉県スポーツ推進委員連合会、一般社団法人千葉県障がい者スポーツ協会、一般社団法人千葉県商工会議所連合会、千葉県商工会連合会、千葉県中小企業団体中央会、一般社団法人千葉県経済協議会、一般社団法人千葉県経営者協会、千葉県経済同友会、公益社団法人千葉県観光物産協会、千葉県農業協同組合中央会、千葉県漁業協同組合連合会、一般社団法人千葉県バス協会、一般社団法人千葉県タクシー協会、公益社団法人千葉県医師会、公益社団法人千葉県看護協会、東日本高速道路株式会社関東支社、首都高速道路株式会社、株式会社千葉日報社、千葉テレビ放送株式会社、ベイエフエム、国土交通省関東運輸局千葉運輸支局、国土交通省関東地方整備局千葉国道事務所、株式会社アール・エフ・ラジオ日本</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">8. 日程</h4>
					<p class="c-text__guideline">令和8年11月8日（日）</p>
					<dl class="c-list__timetable">
						<dt>9:40</dt>
						<dd>スタート（車いすハーフマラソン）（※短縮マラソン開催時 10:20）</dd>
						<dt>9:45</dt>
						<dd>スタート（マラソン・ハーフマラソン同時）（※短縮マラソン開催時 10:25）</dd>
						<dt>10:55</dt>
						<dd>車いすハーフマラソン競技終了</dd>
						<dt>13:10</dt>
						<dd>ハーフマラソン競技終了</dd>
						<dt>16:00</dt>
						<dd>マラソン競技終了</dd>
					</dl>
					<ul class="c-list__guideline--kome">
						<li>強風等によりアクアライン橋梁部が走行不能と実行委員会が判断した場合は、一般道のみの短縮マラソンを実施します。</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">9. 種目・定員</h4>
					<div class="c-table__guideline js-scrollable">
						<table>
							<thead>
								<tr>
									<th>種目</th>
									<th>定員</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>マラソン<br>（42.195 km）</td>
									<td>12,000人</td>
								</tr>
								<tr>
									<td>ハーフマラソン<br>（21.0975 km）</td>
									<td rowspan="2">両種目併せて5,000人<br>※ 車いすハーフマラソンは、10人程度を目安とします。</td>
								</tr>
								<tr>
									<td>車いすハーフマラソン<br>（21.0975キロメートル）</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">10. コース</h4>
					<h5 class="c-heading__guideline--sub">（1）マラソン</h5>
					<div class="c-block__indent">
						<div class="c-grid columns-3 c-text__guideline">
							<p>スタート</p>
							<p>：</p>
							<p>潮浜公園前（木更津市）<br>
								〖通過地点 木更津金田IC、海ほたる、三井アウトレットパーク木更津、袖ケ浦市役所、袖ケ浦公園、ほたる野、清見台〗</p>
							<p>フィニッシュ</p>
							<p>：</p>
							<p>旧木更津市役所</p>
						</div>
					</div>
					<h5 class="c-heading__guideline--sub">（2）ハーフマラソン・車いすハーフマラソン</h5>
					<div class="c-block__indent">
						<div class="c-grid columns-3 c-text__guideline">
							<p>スタート</p>
							<p>：</p>
							<p>潮浜公園前（木更津市）<br>
								〖通過地点 木更津金田IC、海ほたる、三井アウトレットパーク木更津〗</p>
							<p>フィニッシュ</p>
							<p>：</p>
							<p>牛込海岸</p>
						</div>
						<ul class="c-list__guideline--kome">
							<li>全ての種目において、強風等により東京湾アクアライン橋梁部が走行不能と実行委員会が判断した場合は、一般道のみの短縮マラソン（チャレンジラン）のコースに変更します。（マラソンは31.4km、ハーフマラソン・車いすハーフマラソンは10.3km）</li>
						</ul>
					</div>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">11. 参加資格</h4>
					<ol class="c-list__guideline--ol-bracket">
						<li>2008（平成20）年4月1日以前に生まれた者で、競技時間内に完走できる者とします。</li>
						<li>車いすハーフマラソンはレース仕様の車いすでの参加に限ります。</li>
						<li>マラソン、ハーフマラソンへの参加希望者で、単独走行が困難な障害のある方は、伴走者（介護者）を同行させることができます。ただし、伴走者は参加者が手配することとします。（盲導犬の伴走は不可）。</li>
					</ol>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">12. 参加料</h4>
					<ul class="c-list__guideline--ol-bracket">
						<li>マラソン　　　　　　　 16,500円</li>
						<li>ハーフマラソン　　　　 13,500円</li>
						<li>車いすハーフマラソン　 13,500円</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">13. チャリティ</h4>
					<p class="c-text__guideline">千葉県のスポーツ・パラスポーツ活動の振興を図ることや様々な人道的活動への支援を目的として、チャリティを実施します。</p>
					<ul class="c-list__guideline--ol-bracket">
						<li><h5 class="c-heading__inline">参加方法</h5>
							<ul class="c-list__guideline--blanc">
								<li>① ランナーチャリティ<br>
									申込時にチャリティ希望を選択。参加料とは別に500円の寄附となります。<br>
									ペア及び団体戦を希望する場合は、グループ全員での参加となります。</li>
								<li>② チャリティ枠（先着50人）<br>
									申込時に「チャリティ枠」を選択し、参加料とは別に５万円以上を寄附することにより出走権が付与されます｡寄附者以外の方へ出走権を譲渡することも可能です。</li>
							</ul>
						</li>
						<li><h5 class="c-heading__inline">寄附先</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 千葉県スポーツ振興基金（公益財団法人千葉県教育振興財団）<br>
									千葉県のスポーツ団体や市町村等が行うスポーツ振興事業・レクリエーション活動等に活用されます。</li>
								<li>② 赤十字活動資金（日本赤十字社千葉県支部）
									災害救護活動をはじめとする、救急法等の普及や防災・減災の啓発などの人道的活動に活用されます。</li>
								<li>※ チャリティ枠に参加された方は、寄附先を上記より選択することができ、寄附先の証明により、 税制上の優遇措置が受けられます。</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">14. 表彰</h4>
					<ul class="c-list__guideline--ol-bracket">
						<li><h5 class="c-heading__inline">マラソン</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 男女各1位～8位を表彰します。</li>
								<li>② 年代別の男女各1位～3位を表彰します。</li>
								<li>③ 団体戦1位～3位を表彰します。</li>
								<li>④ 市町村対抗戦1位～8位を表彰します。
									<ul class="c-list__guideline--kome">
										<li>県内の市町村から推薦されたランナーによる「市町村対抗戦」を実施。</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><h5 class="c-heading__inline">ハーフマラソン</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 男女各1位～8位を表彰します。</li>
								<li>② 年代別の男女各1位～3位を表彰します。</li>
							</ul>
						</li>
						<li><h5 class="c-heading__inline">車いすハーフマラソン</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 男女各1位～8位を表彰します。
								</li>
							</ul>
						</li>
					</ul>
					<ul class="c-list__guideline--kome">
						<li>各区分の①のうち、1位～3位については、表彰式で表彰を行います。<br>
							他の入賞者については、後日賞状を郵送します。</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">15. 競技規則及び諸注意</h4>
					<ul class="c-list__guideline--ol-bracket">
						<li>2026年度日本陸上競技連盟競技規則及び本大会規程によります。</li>
						<li>強風、不慮の事故、自然災害、感染症等で、主催者の判断により大会中止・コース変更することがあります。</li>
						<li>参加者の安全のため、ウェーブ（時差）スタート・関門閉鎖時間・救護所・給水所を設けます。</li>
						<li>レース中は、大会審判員等の大会運営員の指示に従うこととします。</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">16. 健康管理</h4>
					<ul class="c-list__guideline--ol-bracket">
						<li>参加者は各自の責任において健康を管理し、必要に応じてあらかじめ医師の健康診断を受けて御参加ください。</li>
						<li>主催者は、傷病、その他の事故に際しての応急処置を除き、一切の責任を負いません。</li>
						<li class="u-emp">コースは起伏に富んでおりますので、大会参加に当たり、十分なトレーニングを積んだ上、御参加ください。特に、33ｋｍ過ぎからの坂は要注意です。コースマップ下の「コース高低図」を御確認ください。</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">17. 関門制限</h4>
					<p class="c-text__guideline">交通・警備、競技運営上、関門閉鎖時刻を設けます。<br>また、関門以外においても著しく遅れた場合は、競技を中止していただきます。</p>
					<div class="c-table__guideline width-free js-scrollable">
						<table>
							<thead>
								<tr>
									<th rowspan="2">関門</th>
									<th rowspan="2">場所</th>
									<th rowspan="2">距離</th>
									<th class="half">ﾏﾗｿﾝ･ﾊｰﾌﾏﾗｿﾝ</th>
									<th class="half">車いすﾊｰﾌﾏﾗｿﾝ</th>
									<th class="half">短縮マラソン実施時</th>
								</tr>
								<tr>
									<th class="quarter">閉鎖時刻</th>
									<th class="quarter">閉鎖時刻</th>
									<th class="quarter">閉鎖時刻(車いす)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td>スタート（潮浜公園前）</td>
									<td>0.0km</td>
									<td>10:10</td>
									<td>9:40</td>
									<td>10:50(10:20)</td>
								</tr>
								<tr>
									<td>1</td>
									<td>アクアライン入口交差点</td>
									<td>8.3km</td>
									<td>11:20</td>
									<td>10:10</td>
									<td class="empty"></td>
								</tr>
								<tr>
									<td>2</td>
									<td>海ほたる</td>
									<td>13.9km</td>
									<td>12:05</td>
									<td>10:28</td>
									<td class="empty"></td>
								</tr>
								<tr>
									<td>3</td>
									<td>アクアライン橋梁部</td>
									<td>16.5km</td>
									<td>12:25</td>
									<td>10:37</td>
									<td class="empty"></td>
								</tr>
								<tr>
									<td>4</td>
									<td>アクアライン出口交差点</td>
									<td>19.2km</td>
									<td>12:47</td>
									<td>10:45</td>
									<td>11:59(10:50)</td>
								</tr>
								<tr>
									<td colspan="2">ハーフマラソンフィニッシュ（牛込海岸）</td>
									<td>21.0975km</td>
									<td>13:10</td>
									<td>10:55</td>
									<td>12:30(11:00)</td>
								</tr>
								<tr>
									<td>5</td>
									<td>袖ケ浦アンダーパス出口</td>
									<td>23.8km</td>
									<td>13:23</td>
									<td class="empty"></td>
									<td>12:39</td>
								</tr>
								<tr>
									<td>6</td>
									<td>袖ヶ浦高校</td>
									<td>25.6km</td>
									<td>13:38</td>
									<td class="empty"></td>
									<td>12:53</td>
								</tr>
								<tr>
									<td>7</td>
									<td>十日市場交差点先</td>
									<td>32.0km</td>
									<td>14:31</td>
									<td class="empty"></td>
									<td>13:46</td>
								</tr>
								<tr>
									<td>8</td>
									<td>君津学園先交差点</td>
									<td>36.6km</td>
									<td>15:08</td>
									<td class="empty"></td>
									<td>14:23</td>
								</tr>
								<tr>
									<td>9</td>
									<td>JA木更津市本店</td>
									<td>39.4km</td>
									<td>15:31</td>
									<td class="empty"></td>
									<td>14:46</td>
								</tr>
								<tr>
									<td colspan="2">マラソンフィニッシュ（旧木更津市役所）</td>
									<td>42.195km</td>
									<td>16:00</td>
									<td class="empty"></td>
									<td>15:30</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">18. 各エントリー枠（先着）の募集期間等</h4>
					<ul class="c-list__guideline--kome">
						<li>ペアは男女を問わない。団体は3～6名（マラソンのみ）</li>
					</ul>
					<div class="c-table__guideline width-free align-left js-scrollable">
						<table>
							<thead>
								<tr>
									<th rowspan="2">No.</th>
									<th rowspan="2">枠の名称</th>
									<th rowspan="2">対象・内容 等</th>
									<th class="half" colspan="3">申込区分</th>
									<th class="half" colspan="2">定員（人）</th>
									<th rowspan="2">募集期間<br>（令和8年）</th>
								</tr>
								<tr>
									<th class="quarter">個人</th>
									<th class="quarter">ペア</th>
									<th class="quarter">団体</th>
									<th class="quarter">ﾏﾗｿﾝ</th>
									<th class="quarter">ﾊｰﾌ<br>ﾏﾗｿﾝ</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>1</th>
									<td>ちば県民先行枠</td>
									<td>
										<ul class="c-list__guideline--blanc">
											<li>〇 千葉県に在住の方に限り申込をすることができます。</li>
										</ul>
									</td>
									<td>〇</td>
									<td>〇</td>
									<td>〇<br>ﾏﾗｿﾝ</td>
									<td>3,500</td>
									<td>1,500</td>
									<td>3/15(日) 午後8時から<br>
										3/18(水) 午後5時まで</td>
								</tr>
								<tr>
									<th>2</th>
									<td>一般枠</td>
									<td>
										<ul class="c-list__guideline--blanc">
											<li>〇 県内外問わずどなたでも申込をすることができます。</li>
											<li>※ 車いすハーフマラソンに申し込みをされる方は、パラ・スポーツ枠へお申込ください。</li>
										</ul>
									</td>
									<td>〇</td>
									<td>〇</td>
									<td>〇<br><span>ﾏﾗｿﾝ</span></td>
									<td>6,690</td>
									<td>2,170</td>
									<td>3/22(日) 午後8時から<br>
										4/12(日) 午後5時まで</td>
								</tr>
								<tr>
									<th>3</th>
									<td>アスリートランナー枠</td>
									<td>
										<ul class="c-list__guideline--blanc">
											<li>〇 対象期間内に開催された大会で設定時間をクリアした方が対象となります。</li>
										</ul>
										<p>【対象期間】<br>
											令和6年11月10日<br>
											～令和8年3月31日</p>
									</td>
									<td>〇</td>
									<td></td>
									<td></td>
									<td>600</td>
									<td></td>
									<td rowspan="7">3/22(日) 午後8時から<br>
										5/7(木) 午後5時まで</td>
								</tr>
								<tr>
									<th>4</th>
									<td>パラ・スポーツ枠</td>
									<td>
										<ul class="c-list__guideline--blanc">
											<li>〇 障害者手帳・療育手帳等をお持ちの方が対象です。</li>
											<li>※ 伴走者を同行させる場合は、エントリー時に忘れずに申込ください。</li>
										</ul>
									</td>
									<td>〇</td>
									<td></td>
									<td></td>
									<td>25</td>
									<td>25</td>
								</tr>
								<tr>
									<th>5</th>
									<td>チャリティ枠</td>
									<td>
										<ul class="c-list__guideline--blanc">
											<li>〇 チャリティの趣旨に賛同し、5万円以上を寄附された方が対象です。（参加料が別途必要です）</li>
											<li>※ 寄附者以外の方へ出走権を譲渡することも可能です。</li>
											<li>※ 「13 チャリティ」の項を参照してください。</li>
										</ul>
									</td>
									<td>〇</td>
									<td></td>
									<td></td>
									<td>25</td>
									<td>25</td>
								</tr>
								<tr>
									<th>6</th>
									<td>宿泊プラン枠</td>
									<td>
										<ul class="c-list__guideline--blanc">
											<li>〇 出走権と千葉県内宿泊施設の宿泊代金をセットにした枠です。<br>（参加料が含まれます）</li>
										</ul>
									</td>
									<td>〇</td>
									<td>〇</td>
									<td>〇<br><span>ﾏﾗｿﾝ</span></td>
									<td>275</td>
									<td>375</td>
								</tr>
								<tr>
									<th>7</th>
									<td>海外ランナー枠</td>
									<td>
										<ul class="c-list__guideline--blanc">
											<li>〇 海外在住の外国籍の方が対象です。</li>
										</ul>
									</td>
									<td>〇</td>
									<td>〇</td>
									<td>〇<br><span>ﾏﾗｿﾝ</span></td>
									<td>200</td>
									<td>200</td>
								</tr>
								<tr>
									<th>8</th>
									<td>学生応援枠</td>
									<td>
										<p>学生の方限定で申込ができます。</p>
										<ul class="c-list__guideline--blanc">
											<li>※ 学生応援特典（ZOZOUSEDクーポン） 等があります。</li>
											<li>※ エントリー時に学生証の写真 データの添付が必要です。</li>
										</ul>
									</td>
									<td>〇</td>
									<td>〇</td>
									<td>〇<br><span>ﾏﾗｿﾝ</span></td>
									<td>300</td>
									<td>100</td>
								</tr>
								<tr>
									<th>9</th>
									<td>女性応援枠</td>
									<td>
										<ul class="c-list__guideline--blanc">
											<li>〇 女性の方限定で申込ができます。</li>
											<li>※ 女性応援特典（ZOZOCOSMEクーポン）等があります。</li>
										</ul>
									</td>
									<td>〇</td>
									<td></td>
									<td></td>
									<td>300</td>
									<td>100</td>
								</tr>
								<tr>
									<th>10</th>
									<td>レイトエントリー枠</td>
									<td>
										<ul class="c-list__guideline--blanc">
											<li>〇 県内外問わずどなたでも申込を することができます。</li>
										</ul>
									</td>
									<td>〇</td>
									<td>〇</td>
									<td>〇<br><span>ﾏﾗｿﾝ</span></td>
									<td>約100</td>
									<td>約50</td>
									<td>5/31（日）午後8時から<br>
										6/8（月）午後5時まで</td>
								</tr>
							</tbody>
						</table>
					</div>
					<ul class="c-list__guideline--ol-bracket" style="counter-reset: guide 1;">
						<li><h5 class="c-heading__inline">【注意事項：ペア及び団体戦のエントリーについて】</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 代表者は必ず、グループ全員の了承を得てください。</li>
								<li>② 代表者がグループ全員の登録情報をあらかじめ確認の上、申込みください。</li>
								<li>③ グループ全員、同一種目での申込みとなります。</li>
							</ul>
						</li>
						<li><h5 class="c-heading__inline">参加者の決定</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 申込者数が募集定員に達した時点で締切となります。</li>
								<li>② 決定は、入金確認後、スポーツエントリーのマイページ＜エントリー履歴＞に「申込み確定」と表示されますので、御確認ください。</li>
								<li>③ ペア及び団体戦の場合は、代表者がスポーツエントリーのマイページ＜エントリー履歴＞にて、 御確認ください。</li>
							</ul>
						</li>
						<li><h5 class="c-heading__inline">支払い方法</h5>
							<div class="c-block__indent">
								<p class="c-text__guideline">クレジットカード又はコンビニ決済</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">19. 申込みについて（全体）</h4>
					<ul class="c-list__guideline--ol-bracket">
						<li><h5 class="c-heading__inline">申込方法</h5>
							<p class="c-text__guideline">インターネットによる申込みとなります。大会公式ホームページ（<a href="https://chiba-aqualine-marathon.com">https://chiba-aqualine-marathon.com</a>）から、エントリーページにアクセスしてください。<br>
							申込は先着順となりますので、事前にスポーツエントリー（<a href="https://www.sportsentry.ne.jp/register" target="_blank">https://www.sportsentry.ne.jp/register</a>）へ利用者登録を済ませておくことをお勧めいたします。</p>
						</li>
						<li><h5 class="c-heading__inline">入金手続</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 指定の期日までに所定の方法で参加料等の入金手続を完了してください。</li>
								<li>② 指定の期日までに入金手続が完了しない場合、申込は無効となります。</li>
								<li>③ インターネットでの決済時にかかるシステム利用料（合計額の5.3％）は申込者の負担となります。また、支払方法に応じて別途振込手数料がかかる場合があります。</li>
								<li>④ グループ申込みの当選者は、代表者が人数分の合計額を一括してお支払いください。</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">20. 申込み後の流れ</h4>
					<ul class="c-list__guideline--ol-bracket">
						<li><h5 class="c-heading__inline">エントリーの確認</h5>
							<ul class="c-list__guideline--blanc">
								<li>①「18 各エントリー枠（先着）の募集期間等」の（3）を参照</li>
							</ul>
						</li>
						<li><h5 class="c-heading__inline">参加料入金等の手続き</h5>
							<ul class="c-list__guideline--blanc">
								<li>「19 申込みについて」の（2）を参照</li>
							</ul>
						</li>
						<li><h5 class="c-heading__inline">参加に関する案内</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 10月上旬（予定）に大会公式ホームページへの掲載を予定しています。</li>
								<li>② 参加案内やナンバーカード等は10月上旬（予定）に事前送付します。</li>
							</ul>
						</li>
						<li><h5 class="c-heading__inline">参加者受付</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 大会前日及び当日の受付手続は不要です。</li>
								<li>② 海外ランナー枠の方は、前日及び当日受付を行います。</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">21. 海外交流</h4>
					<p class="c-text__guideline">当大会は、台湾で開催されるマラソン大会と交流しています。完走者の中から、台湾のマラソン大会へ派遣する場合があります（若干名）。</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">22. 個人情報の取扱い</h4>
					<ul class="c-list__guideline--ol-bracket">
						<li>主催者は個人情報の重要性を認識し、個人情報の保護に関する法律及び関連法令等を遵守し、主催者の個人情報保護方針に基づき、個人情報を取り扱います。大会申込者へのサービスの向上を目的とし、参加案内、記録通知、関連情報の通知、大会協賛・協力・関係団体からのサービスの提供に利用します。<br>
						また、主催者又は委託先から申込内容に関する確認連絡をさせていただくことがあります。</li>
						<li>大会に関係する映像・写真・記事・申込者の氏名、年齢、住所（国名、都道府県名又は市区町村名）等のテレビ・新聞・雑誌・インターネット等への掲載権と肖像権は主催者に属します。</li>
						<li>個人情報の取得、保健所・医療機関への提供も含め、主催者が行う感染症対策に協力していただく場合があります。</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">23. ちばアクアラインマラソン申込規約【必ず御確認ください】</h4>
					<p class="c-text__guideline">参加者は下記の申込規約に同意の上、申込みください。</p>
					<ul class="c-list__guideline--ol-bracket">
						<li>入金手続完了後のキャンセル・返金はできません。</li>
						<li>年齢・性別・記録等の虚偽申告、申込者本人以外の参加（不正出場）の場合は、出場を取り消します。</li>
						<li>天候事案、自然災害その他主催者の責によらない事案による中止の場合、参加料等の返金は一切行いません。</li>
						<li>過剰入金・重複入金の返金はいたしません。</li>
						<li>主催者は個人情報の保護法令を遵守し、参加者の個人情報を取り扱います。</li>
						<li>同一人物によるマラソンとハーフマラソンへの重複申込み及び個人エントリーとペアエントリー・団体戦エントリーとの重複申込みは落選となりますので御注意ください。</li>
						<li>募集期間内に申込登録内容の変更がある場合は、各問合せ先へ御連絡ください。</li>
						<li>募集期間終了後の申込登録内容の変更や団体戦エントリーの参加人数の変更及びキャンセルはできません。申込登録内容に問題がある場合のみ、事務局から、御登録いただいたメールアドレス又は、電話番号宛に問合せをする場合があります。</li>
						<li>申込応募状況の問合せ、照会等はできませんので御了承ください。</li>
						<li>申込の確認について
							<ul class="c-list__guideline--blanc">
								<li>① スポーツエントリーのマイページ＜エントリー履歴＞より御確認ください。</li>
								<li>② 入金手続完了の確認後に、上記マイページに反映されます。<br>
								なお、御登録いただいたメールアドレス又は宛先不備での通知不着・未着について、再確認はしませんので、御了承ください。</li>
							</ul>
						</li>
						<li>大会での代理出走、権利譲渡（チャリティ枠を除く）はできません。こうした行為が判明した場合は失格とします。その場合、主催者はいかなる補償もいたしません。返金もいたしません。</li>
						<li>インターネット回線の不具合などによる申込の遅れについて、主催者は一切の責任を負いません。</li>
						<li>申込みの際、御利用の端末機、ＯＳ、ブラウザソフトによっては申込できないことがあります。</li>
						<li>申込み時に必要な項目は、次のとおりです。氏名・性別・生年月日・国籍・住所（送付先）・電話番号（日中の連絡先）・E-mailアドレス・申込種目の過去の参加経験（大会名・記録等）・フィニッシュ予想タイム・伴走者の有無（有の場合はその理由）・緊急連絡先等（TEL、氏名、続柄）</li>
						<li>スタート時の混乱を緩和し、より安全な競技運営を行うために、フィニッシュ予想タイムは必ず実力に見合ったタイムを申請してください。周囲とペースが合わない場合は他の選手の迷惑になるばかりかご自身が事故に巻き込まれる可能性があります。</li>
						<li>参加料等領収書の発行はいたしません。</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">24. その他</h4>
					<ul class="c-list__guideline--ol-bracket">
						<li>主催者は、以下の事項について、一切の責任を負いません。
							<ul class="c-list__guideline--blanc">
								<li>① 主催者の責によらない疾病・傷病・事故等。</li>
								<li>② 主催者の責によらない物品等の紛失及び毀損。</li>
								<li>③ 公共交通機関及び道路事情等による遅刻。</li>
							</ul>
						</li>
						<li>手荷物預かり所を設置します。ハーフマラソン参加者の手荷物は、ハーフフィニッシュ会場（牛込海岸）へ搬送し、返却します。また、マラソン参加者の手荷物は、マラソンフィニッシュ会場での返却となり、<span class="u-emp">返却場所の変更はできません。</span></li>
						<li>大会会場（コースを含む）に広告目的で、企業名・商品名等を意味する図案、商標などを表示したり身につけたりすることはできません。</li>
						<li>主催者が認める団体について、写真等の委託販売を行うことがあります。</li>
						<li>健康を害するような仮装又は主催者がこれに該当すると判断した場合、大会へ参加することはできません。</li>
						<li>上記の他、大会に関する事項については大会主催者の指示に従ってください。</li>
						<li>大会に関する最新情報は、ちばアクアラインマラソン2026大会公式ホームページにて随時掲載していきますので、定期的に御確認ください。</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">25. 申込方法に関する問合せ先</h4>
					<p class="c-text__guideline">ちばアクアラインマラソン2026エントリー事務局(スポーツエントリー内)</p>
					<div class="c-block__indent">
						<p class="c-text__guideline">TEL：0120-711-951 ［10時00分～17時00分(土日、祝日を除く)］<br>
						スポーツエントリー問合せフォーム<br>
						URL：<a href="https://www.sportsentry.ne.jp/inquiry" target="_blank">https://www.sportsentry.ne.jp/inquiry</a> （随時受付）</p>
					</div>
				</div>
			</section>
		</div>
		<%- include("src/include/subColumn.html") %>
		</div>
	</section>
	</main>
	<%- include("src/include/footer.html") %>	
	<script type="module" src="/src/main.js"></script>
</body>
</html>