<!doctype html>
<html lang="ja_JP">
<head>
		<%
			const title = "募集要項";
			const path="runner/guidelines.html" 
			const description="2026年11月8日開催！ちばアクアラインマラソン2026の募集要項です。海ほたるの青く雄大な空と海に囲まれた景色の中や、千葉の田園を、市民ランナーが走ります。"
		%>
		<%- include("src/include/head.ejs", {title, path, description}) %>
</head>
<body class="l-guideline">
	<%- include("src/include/header.html") %>
	<main class="l-main">
	<section class="l-heading p-top__heading">
		<div class="c-heading__container--main">
			<h2 class="c-heading__main">大会情報</h2>
		</div>
	</section>
	<div class="l-breadclumb">
		<ul>
			<li><a href="/">トップ</a></li>
			<li>大会情報</li>
			<li>募集要項</li>
		</ul>
	</div>
	<section class="l-content">
		<div class="l-content__inner">
		<div class="l-column__main">
			<section class="c-container">
				<h3 class="c-heading__info">ちばアクアラインマラソン2026 募集要項</h3>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">1. 大会名称</h4>
					<p class="c-text__guideline">ちばアクアラインマラソン2026（英語名 CHIBA AQUALINE MARATHON 2026）</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">2. 主催</h4>
					<p class="c-text__guideline">千葉県、千葉県教育委員会</p>
					<ul class="c-list__guideline--dot">
						<li>車いすハーフマラソン：午前9時40分スタート</li>
						<li>マラソン・ハーフマラソン：午前9時45分スタート</li>
					</ul>
				</div>
				
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">3. 共催</h4>
					<p class="c-text__guideline">木更津市、袖ケ浦市、木更津市教育委員会、袖ケ浦市教育委員会、東京湾アクアラインを活用した地域づくり推進連絡協議会、中房総観光推進ネットワーク協議会</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">4. 企画・運営</h4>
					<p class="c-text__guideline">ちばアクアラインマラソン実行委員会</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">5. 主管</h4>
					<p class="c-text__guideline">一般財団法人千葉陸上競技協会</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">6. 運営協力</h4>
					<p class="c-text__guideline">特定非営利活動法人関東パラ陸上競技協会</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">7. 後援</h4>
					<p class="c-text__guideline">スポーツ庁、公益財団法人千葉県スポーツ協会、千葉県スポーツ推進委員連合会、一般社団法人 千葉県障がい者スポーツ協会、一般社団法人千葉県商工会議所連合会、千葉県商工会連合会、千葉県中小企業団体中央会、一般社団法人千葉県経済協議会、一般社団法人千葉県経営者協会、千葉県経済同友会、公益社団法人千葉県観光物産協会、千葉県農業協同組合中央会、 千葉県漁業協同組合連合会、一般社団法人千葉県バス協会、一般社団法人千葉県タクシー協会、 公益社団法人千葉県医師会、公益社団法人千葉県看護協会、東日本高速道路株式会社関東支社、首都高速道路株式会社、株式会社千葉日報社、千葉テレビ放送株式会社、ベイエフエム、 国土交通省関東運輸局千葉運輸支局、国土交通省関東地方整備局千葉国道事務所、 株式会社アール・エフ・ラジオ日本</p>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">8. 日程</h4>
					<p class="c-text__guideline">令和8年11月8日（日）</p>
					<dl class="c-list__timetable">
						<dt>9:40</dt>
						<dd>スタート（車いすハーフマラソン）（※短縮マラソン開催時 10:20）</dd>
						<dt>9:45</dt>
						<dd>スタート（マラソン・ハーフマラソン同時）（※短縮マラソン開催時 10:25）</dd>
						<dt>10:55</dt>
						<dd>車いすハーフマラソン競技終了</dd>
						<dt>13:10</dt>
						<dd>ハーフマラソン競技終了</dd>
						<dt>16:00</dt>
						<dd>マラソン競技終了</dd>
					</dl>
					<ul class="c-list__guideline--kome">
						<li>強風等によりアクアライン橋梁部が走行不能と実行委員会が判断した場合は、一般道のみの短縮マラソンを実施します。</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">9. 種目・定員</h4>
					<div class="c-table__guideline js-scrollable">
						<table>
							<thead>
								<tr>
									<th>種目</th>
									<th>定員</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>マラソン<br>（42.195 km）</td>
									<td>12,000人</td>
								</tr>
								<tr>
									<td>ハーフマラソン<br>（21.0975 km）</td>
									<td rowspan="2">両種目併せて5,000人<br>※ 車いすハーフマラソンは、10人程度を目安とします。</td>
								</tr>
								<tr>
									<td>車いすハーフマラソン<br>（21.0975キロメートル）</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">10. コース</h4>
					<h5 class="c-heading__guideline--sub">（1）マラソン</h5>
					<div class="c-block__indent">
						<div class="c-grid columns-3 c-text__guideline">
							<p>スタート</p>
							<p>：</p>
							<p>潮浜公園前（木更津市）<br>
								〖通過地点 木更津金田ＩＣ、海ほたる、三井アウトレットパーク木更津、袖ケ浦市役所、袖ケ浦公園、ほたる野、清見台〗</p>
							<p>フィニッシュ</p>
							<p>：</p>
							<p>旧木更津市役所</p>
						</div>
					</div>
					<h5 class="c-heading__guideline--sub">（2）ハーフマラソン・車いすハーフマラソン</h5>
					<div class="c-block__indent">
						<div class="c-grid columns-3 c-text__guideline">
							<p>スタート</p>
							<p>：</p>
							<p>潮浜公園前（木更津市）<br>
								〖通過地点 木更津金田IC、海ほたる、三井アウトレットパーク木更津〗</p>
							<p>フィニッシュ</p>
							<p>：</p>
							<p>牛込海岸</p>
						</div>
						<ul class="c-list__guideline--kome">
							<li>全ての種目において、強風等により東京湾アクアライン橋梁部が走行不能と実行委員会が判断した場合は、一般道のみの短縮マラソン（チャレンジラン）のコースに変更します。 （マラソンは31.4km、ハーフマラソン・車いすハーフマラソンは10.3km）</li>
						</ul>
					</div>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">11. 参加資格</h4>
					<ol class="c-list__guideline--ol-bracket">
						<li>２００８（平成２０）年４月１日以前に生まれた者で、競技時間内に完走できる者とします。</li>
						<li>車いすハーフマラソンはレース仕様の車いすでの参加に限ります。</li>
						<li>マラソン、ハーフマラソンへの参加希望者で、単独走行が困難な障害のある方は、伴走者（介護者）を同行させることができます。ただし、伴走者は参加者が手配することとします。 （盲導犬の伴走は不可）。</li>
					</ol>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">12. 参加料</h4>
					<ul class="c-list__guideline--ol-bracket">
						<li>マラソン　　　　　　　 16,500円</li>
						<li>ハーフマラソン　　　　 13,500円</li>
						<li>車いすハーフマラソン　 13,500円</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">13. チャリティ</h4>
					<p class="c-text__guideline">千葉県のスポーツ・パラスポーツ活動の振興を図ることや様々な人道的活動への支援を目的として、チャリティを実施します。</p>
					<ul class="c-list__guideline--ol-bracket">
						<li><h5 class="c-heading__inline">参加方法</h5>
							<ul class="c-list__guideline--blanc">
								<li>① ランナーチャリティ<br>
									申込時にチャリティ希望を選択。参加料とは別に500円の寄附となります。<br>
									ペア及び団体戦を希望する場合は、グループ全員での参加となります。</li>
								<li>② チャリティ枠（先着50人）<br>
									申込時に「チャリティ枠」を選択し、参加料とは別に５万円以上を寄附することにより出走権が付与されます｡寄附者以外の方へ出走権を譲渡することも可能です。</li>
							</ul>
						</li>
						<li><h5 class="c-heading__inline">寄附先</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 千葉県スポーツ振興基金（公益財団法人千葉県教育振興財団）<br>
									千葉県のスポーツ団体や市町村等が行うスポーツ振興事業・レクリエーション活動等に活用されます。</li>
								<li>② 赤十字活動資金（日本赤十字社千葉県支部）
									災害救護活動をはじめとする、救急法等の普及や防災・減災の啓発などの人道的活動に活用されます。</li>
								<li>※ チャリティ枠に参加された方は、寄附先を上記より選択することができ、寄附先の証明により、 税制上の優遇措置が受けられます。</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">14. 表彰</h4>
					<ul class="c-list__guideline--ol-bracket">
						<li><h5 class="c-heading__inline">マラソン</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 男女各1位～8位を表彰します。</li>
								<li>② 年代別の男女各1位～3位を表彰します。</li>
								<li>③ 団体戦1位～3位を表彰します。</li>
								<li>④ 市町村対抗戦1位～8位を表彰します。
									<ul class="c-list__guideline--kome">
										<li>県内の市町村から推薦されたランナーによる「市町村対抗戦」を実施。</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><h5 class="c-heading__inline">ハーフマラソン</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 男女各1位～8位を表彰します。</li>
								<li>② 年代別の男女各1位～3位を表彰します。</li>
							</ul>
						</li>
						<li><h5 class="c-heading__inline">車いすハーフマラソン</h5>
							<ul class="c-list__guideline--blanc">
								<li>① 男女各1位～8位を表彰します。
								</li>
							</ul>
						</li>
					</ul>
					<ul class="c-list__guideline--kome">
						<li>各区分の①のうち、1位～3位については、表彰式で表彰を行います。<br>
							他の入賞者については、後日賞状を郵送します。</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">15. 競技規則及び諸注意</h4>
					<ul class="c-list__guideline--ol-bracket">
						<li>2026年度日本陸上競技連盟競技規則及び本大会規程によります。</li>
						<li>強風、不慮の事故、自然災害、感染症等で、主催者の判断により大会中止・コース変更することがあります。</li>
						<li>参加者の安全のため、ウェーブ（時差）スタート・関門閉鎖時間・救護所・給水所を設けます。</li>
						<li>レース中は、大会審判員等の大会運営員の指示に従うこととします。</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">16. 健康管理</h4>
					<ul class="c-list__guideline--ol-bracket">
						<li>参加者は各自の責任において健康を管理し、必要に応じてあらかじめ医師の健康診断を受けて 御参加ください。</li>
						<li>主催者は、傷病、その他の事故に際しての応急処置を除き、一切の責任を負いません。</li>
						<li class="u-emp">コースは起伏に富んでおりますので、大会参加に当たり、十分なトレーニングを積んだ上、御参加ください。特に、33ｋｍ過ぎからの坂は要注意です。コースマップ下の「コース高低図」を御確認ください。</li>
					</ul>
				</div>
				<div class="c-block__guideline">
					<h4 class="c-heading__guideline">17. 関門制限</h4>
					<p class="c-text__guideline">交通・警備、競技運営上、関門閉鎖時刻を設けます。<br>また、関門以外においても著しく遅れた場合は、競技を中止していただきます。</p>
					<div class="c-table__guideline width-free js-scrollable">
						<table>
							<thead>
								<tr>
									<th rowspan="2">関門</th>
									<th rowspan="2">場所</th>
									<th rowspan="2">距離</th>
									<th class="half">ﾏﾗｿﾝ･ﾊｰﾌﾏﾗｿﾝ</th>
									<th class="half">車いすﾊｰﾌﾏﾗｿﾝ</th>
									<th class="half">短縮マラソン実施時</th>
								</tr>
								<tr>
									<th class="quarter">閉鎖時刻</th>
									<th class="quarter">閉鎖時刻</th>
									<th class="quarter">閉鎖時刻(車いす)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td>スタート（潮浜公園前）</td>
									<td>0.0km</td>
									<td>10:10</td>
									<td>9:40</td>
									<td>10:50(10:20)</td>
								</tr>
								<tr>
									<td>1</td>
									<td>アクアライン入口交差点</td>
									<td>8.3km</td>
									<td>11:20</td>
									<td>10:10</td>
									<td class="empty"></td>
								</tr>
								<tr>
									<td>2</td>
									<td>海ほたる</td>
									<td>13.9km</td>
									<td>12:05</td>
									<td>10:28</td>
									<td class="empty"></td>
								</tr>
								<tr>
									<td>3</td>
									<td>アクアライン橋梁部</td>
									<td>16.5km</td>
									<td>12:25</td>
									<td>10:37</td>
									<td class="empty"></td>
								</tr>
								<tr>
									<td>4</td>
									<td>アクアライン出口交差点</td>
									<td>19.2km</td>
									<td>12:47</td>
									<td>10:45</td>
									<td>11:59(10:50)</td>
								</tr>
								<tr>
									<td colspan="2">ハーフマラソンフィニッシュ（牛込海岸）</td>
									<td>21.0975km</td>
									<td>13:10</td>
									<td>10:55</td>
									<td>12:30(11:00)</td>
								</tr>
								<tr>
									<td>5</td>
									<td>袖ケ浦アンダーパス出口</td>
									<td>23.8km</td>
									<td>13:23</td>
									<td class="empty"></td>
									<td>12:39</td>
								</tr>
								<tr>
									<td>6</td>
									<td>袖ヶ浦高校</td>
									<td>25.6km</td>
									<td>13:38</td>
									<td class="empty"></td>
									<td>12:53</td>
								</tr>
								<tr>
									<td>7</td>
									<td>十日市場交差点先</td>
									<td>32.0km</td>
									<td>14:31</td>
									<td class="empty"></td>
									<td>13:46</td>
								</tr>
								<tr>
									<td>8</td>
									<td>君津学園先交差点</td>
									<td>36.6km</td>
									<td>15:08</td>
									<td class="empty"></td>
									<td>14:23</td>
								</tr>
								<tr>
									<td>9</td>
									<td>JA木更津市本店</td>
									<td>39.4km</td>
									<td>15:31</td>
									<td class="empty"></td>
									<td>14:46</td>
								</tr>
								<tr>
									<td colspan="2">マラソンフィニッシュ（旧木更津市役所）</td>
									<td>42.195km</td>
									<td>16:00</td>
									<td class="empty"></td>
									<td>15:30</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
		<%- include("src/include/subColumn.html") %>
		</div>
	</section>
	</main>
	<%- include("src/include/footer.html") %>	
	<script type="module" src="/src/main.js"></script>
</body>
</html>