<!doctype html>
<html lang="ja_JP">
<head>
		<%
			const title = "Tシャツデザイン決定！";
			const path="tournament/sponsorship.html" 
			const description="2026年11月8日開催！ちばアクアラインマラソン2026のTシャツデザインが決定！。海ほたるの青く雄大な空と海に囲まれた景色の中や、千葉の田園を、市民ランナーが走ります。"
		%>
		<%- include("src/include/head.ejs", {title, path, description}) %>
</head>
<body class="l-guideline">
	<%- include("src/include/header.html") %>
	<main class="l-main">
		<section class="l-heading p-top__heading">
			<div class="c-heading__container--main">
				<h2 class="c-heading__main">ランナー</h2>
			</div>
		</section>
		<div class="l-breadclumb">
			<ul>
				<li><a href="/">トップ</a></li>
				<li>ランナー</li>
				<li>Tシャツデザイン決定！</li>
			</ul>
		</div>

		<section class="l-content">
			<div class="l-content__inner">
				<div class="l-column__main">
					<section class="c-container">
						<h3 class="c-heading__info  p-prize__heading--info">Tシャツデザイン決定！</h3>
						<div class="c-block__guideline">
							<p class="p-prize__image--kv"><img src="/images/runner/prize/img_mv.jpg" alt="Tシャツデザイン決定！"></p>
							<p class="c-text__guideline">ちばアクアラインマラソン2026オリジナルデザインTシャツのデザインが決定いたしました！<br>
							キービジュアルと同じ株式会社ZOZOのデザインで、2色からお選びいただけます。</p>
							<p class="c-text__guideline c-text__emp">※先着エントリー時に選択となります。</p>
						</div>
						<div class="c-block__guideline">
							<div class="p-prize__container--tabs js-switch-tab">
								<ul class="p-prize__list--tabs tabs">
									<li class="is-current" data-tab="clear">AQUALINE Clear Mist</li>
									<li data-tab="navy">AQUALINE Navy Trench</li>
								</ul>
								<div class="p-prize__wrap--tabs contents">
									<div class="p-prize__block--tab tab-content is-current" id="clear">
										<p class="p-prize__tag--tab clear">AQUALINE Clear Mist</p>
										<h4 class="p-prize__heading--tab">アクアラインの風とともに走ろう。</h4>
										<p class="c-text__guideline">風を感じさせる一枚。軽やかで洗練された印象は、ランニングはもちろん、日常のコーディネートにも活躍する一着。スポーツブランドならではの機能性と、ファッションデザイナーの感性が融合した、“走る”と“暮らす”をつなぐ一着。<br>
										潮風を感じながら、自由に駆け抜けるあなたに…</p>
										<p class="p-prize__text--image">イメージ</p>
										<p class="p-prize__image--t-shirt"><img src="/images/runner/prize/img_clear_mist.png" alt="Tシャツ イメージ"></p>
										<p class="p-prize__caution--tab">※撮影環境やご使用のデバイスにより、実際の色味と異なるように見える場合がございます。</p>
									</div>
									<div class="p-prize__block--tab tab-content" id="navy">
										<p class="p-prize__tag--tab navy">AQUALINE Navy Trench</p>
										<h4 class="p-prize__heading--tab">アクアラインの海とともに走ろう。</h4>
										<p class="c-text__guideline">海を思わせる一枚。落ち着きと芯のある印象は、ランニングはもちろん、日常の装いにも自然に溶け込むデザイン。スポーツブランドならではの機能美と、デザイナーの感性が響き合う、“走る”と“暮らす”をつなぐスタイルを提案します。<br>
										静かな情熱を胸に、ゴールを目指すあなたへ…</p>
										<p class="p-prize__text--image">イメージ</p>
										<p class="p-prize__image--t-shirt"><img src="/images/runner/prize/img_navy_trench.png" alt="Tシャツ イメージ"></p>
										<p class="p-prize__caution--tab">※撮影環境やご使用のデバイスにより、実際の色味と異なるように見える場合がございます。</p>
									</div>
								</div>
							</div>
						</div>
						<div class="c-block__guideline">
							<h4 class="c-heading__guideline p-prize__heading--guideline">ちばアクアラインマラソン2026　参加賞Tシャツ</h4>
							<h5 class="c-heading__guideline--sub">アイテムサイズ（身丈／身幅／袖丈）</h5>
							<div class="p-prize__wrap--table-guide js-scrollable scroll-hint" style="position: relative; overflow: auto;">
								<table>
									<thead>
										<tr>
											<th>サイズ</th>
											<th>XS</th>
											<th>S</th>
											<th>M</th>
											<th>L</th>
											<th>XL</th>
											<th>2XL</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>身丈（cm）</th>
											<td>63</td>
											<td>65</td>
											<td>68</td>
											<td>71</td>
											<td>74</td>
											<td>77</td>
										</tr>
										<tr>
											<th>身幅（cm）</th>
											<td>45</td>
											<td>47</td>
											<td>50</td>
											<td>53</td>
											<td>56</td>
											<td>59</td>
										</tr>
										<tr>
											<th>袖丈（cm）</th>
											<td>18</td>
											<td>19</td>
											<td>20</td>
											<td>21</td>
											<td>22</td>
											<td>23</td>
										</tr>
									</tbody>
								</table>
								<div class="scroll-hint-icon-wrap" data-target="scrollable-icon">
									<span class="scroll-hint-icon">
									<div class="scroll-hint-text">scrollable</div>
									</span>
								</div>
							</div>
							<h5 class="c-heading__guideline--sub">サイズ選びの目安</h5>
							<div class="p-prize__wrap--table-guide js-scrollable scroll-hint" style="position: relative; overflow: auto;">
								<table>
									<thead>
										<tr>
											<th>サイズ</th>
											<th>XS</th>
											<th>S</th>
											<th>M</th>
											<th>L</th>
											<th>XL</th>
											<th>2XL</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>身長（cm）</th>
											<td>157～163</td>
											<td>162～168</td>
											<td>167～173</td>
											<td>172～178</td>
											<td>177～183</td>
											<td>182～188</td>
										</tr>
										<tr>
											<th>胸囲（cm）</th>
											<td>81～87</td>
											<td>85～91</td>
											<td>89～95</td>
											<td>93～99</td>
											<td>97～103</td>
											<td>101～107</td>
										</tr>
										<tr>
											<th>ウェスト（cm）</th>
											<td>67～73</td>
											<td>71～77</td>
											<td>75～81</td>
											<td>79～85</td>
											<td>83～89</td>
											<td>87～93</td>
										</tr>
									</tbody>
								</table>
								<div class="scroll-hint-icon-wrap" data-target="scrollable-icon">
									<span class="scroll-hint-icon">
									<div class="scroll-hint-text">scrollable</div>
									</span>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>
	</main>
	<%- include("src/include/footer.html") %>	
	<script type="module" src="/src/main.js"></script>
</body>
</html>