@use '../variables' as *;
@use '../mixins' as *;
@use '../animations' as *;

.p-top {
	&__mainvisual {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
		}

		.sp {
			display: none;
		}

		@include respond-to() {
			.pc {
				display: none;
			}

			.sp {
				display: block;
			}
		}

	}

	&__countdown {
		padding: 16px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		color: $color-main-blue;
		background: linear-gradient(90.35deg, #FFFF70 0%, #EAEA00 100%);
		gap: 5px;

		p {
			display: inline-block;
			text-align: center;
		}

		&--unit {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			&:first-of-type > .p-top__countdown--number {
				width: 1.8em;
				margin-left: 5px;

				@include respond-to() {
					margin-left: 0;
				}
			}
		}
		
		&--text {
			font-size: 24px;
			font-weight: bold;
			line-height: 1;

			@include respond-to() {
				font-size: 16px;
			}
		}

		&--day {
			font-size: 24px;
			font-weight: bold;
			line-height: 1;
			display: flex;
			flex-wrap: wrap;

			align-items: center;
			gap: 10px;
 
			@include respond-to() {
				font-size: 16px;
			}
		}

		&--number {
			width: 1.3em;
			font-size: 64px;
			font-family: $font-outfit;
			font-weight: normal;
			display: flex;
			justify-content: center;

			@include respond-to() {
				font-size: 30px;
			}
		}
	}

	&__wave {
		width: 101%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;

		canvas {
			width: 100%;
			height: 100%;
		}
	}

	&__img {
		&--seagull-l {
			width: calc((119 / 1920) * 100%);
			position: absolute;
			top: calc((46 / 737) * 100%);
			left: calc((1504 / 1920) * 100%);
			
			animation-name: sway;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-duration: 2.7s;

			@include respond-to {
				width: calc((90 / 533) * 100%);
				top: calc((159 / 1066) * 100%);
				left: auto;
				right: calc((43 / 533) * 100%);
			}
		}

		&--seagull-s {
			width: calc((87 / 1920) * 100%);
			position: absolute;
			top: calc((108 / 737) * 100%);
			left: calc((1420 / 1920) * 100%);

			animation-name: sway;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-duration: 2.7s;
			animation-delay: -0.8s;

			@include respond-to {
				width: calc((66 / 533) * 100%);
				top: calc((216 / 1066) * 100%);
				right: calc((100 / 533) * 100%);
			}
		}
	}

	&__copy {
		position: absolute;
		top: 0;
		left: 0;
		top: calc((43 / 737) * 100%);
		left: calc((79 / 1920) * 100%);
		display: none;

		svg {
			width: 100%;
		}

		@include respond-to {
			top: calc((154 / 1066) * 100%);
			left: calc((28 / 533) * 100%);
		}

		&--jp {
			width: calc((609 / 1920) * 100%);

			@include respond-to {
				width: calc((406 / 533) * 100%);
			}
		}

		&--en {
			width: calc((615 / 1920) * 100%);

			@include respond-to {
				width: calc((361 / 533) * 100%);
			}
		}

		&--ch {
			width: calc((387 / 1920) * 100%);

			@include respond-to {
				width: calc((284 / 533) * 100%);
			}
		}

		// アニメーション設定
		.cls-1, .cls-2 {
			animation-name: sway-text;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-duration: 1.6s;
		}

		@for $i from 1 through 20 {
			&.p-top__copy--jp {
				.upper {
					.cls-1:nth-child(#{$i}) {
						animation-delay: ($i - 1) * 0.2s;
					}
				}

				.bottom {
					.cls-1:nth-child(#{$i}) {
						animation-delay: ($i - 1) * 0.1s + 0.1s;
					}
				}
			}

			&.p-top__copy--en {
				.upper {
					.cls-1:nth-child(#{$i}) {
						animation-delay: ($i - 1) * 0.1s;
					}
				}
				
				.u-pc {
					.bottom {
						.cls-1:nth-child(#{$i}) {
							animation-delay: ($i + 1) * 0.05s + 1.4s;
						}
					}
				}

				.u-sp {
					.bottom {
						.cls-1:nth-child(#{$i}) {
							animation-delay: ($i + 1) * 0.05s + 0.9s;
						}
					}
				}
			}

			&.p-top__copy--ch {
				.upper {
					.cls-1:nth-child(#{$i}) {
						animation-delay: ($i - 1) * 0.2s;
					}
				}

				.bottom {
					.cls-2:nth-child(#{$i}) {
						animation-delay: ($i - 1) * 0.1s + 0.5s;
					}
				}
			}
		}
	}

	&__title {
		width: calc((1842 / 1920) * 100%);
		position: absolute;
		bottom: calc((48 / 737) * 100%);
		left: calc((36 / 1920) * 100%);
		display: none;

		@include respond-to {
			width: calc((480 / 533) * 100%);
			left: calc((26 / 533) * 100%);
			bottom: calc((46 / 1066) * 100%);
		}
	}

	&__badge {
		&--date {
			width: calc((251 / 1920) * 100%);
			position: absolute;
			top: calc((337 / 737) * 100%);
			left: calc((1627 / 1920) * 100%);

			@include respond-to {
				width: calc((170 / 533) * 100%);
				top: calc((610 / 1066) * 100%);
				left: auto;
				right: calc((20 / 533) * 100%);
			}
		}
	}

	&__block {
		&--kv-banner {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			opacity: 0;
			visibility: hidden;
			animation-name: fade-repeat;
			animation-duration: 11s;
			animation-fill-mode: forwards;
			animation-iteration-count: infinite;

			@include respond-to {
				display: none;
			}
		}
	}

	&__slider {
		&--sp-kv {
			display: none !important;

			@include respond-to {
				display: block !important;
			}
		}
	}
}

html[lang=ja_JP],
html[lang=ja] {
	.p-top {
		&__title--jp,
		&__copy--jp {
			display: block;
		}
	}
}

html[lang=en] {
	.p-top {
		&__countdown {
			&--unit {
				@include respond-to() {
					font-size: clamp(12px, 3vw, 16px);
				}
			}

			&--number {
				@include respond-to() {
					font-size: clamp(18px, 6vw, 30px);
				}
			}
		}

		&__title--en,
		&__copy--en {
			display: block;
		}
	}
}

html[lang=zh-Hant] {
	.p-top {
		&__title--ch,
		&__copy--ch {
			display: block;
		}
	}
}