/* アニメーション */
/* MVかもめの上下移動 */
@keyframes sway {
	0% {
	  transform: translateY(0);
	}
	100% {
	  transform: translateY(-15px);
	}
  }

@keyframes sway-text {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(10px);
	}
}

@keyframes fade-repeat {
	0% {
		opacity: 0;
		visibility: hidden;
	}

	41.7% {
		opacity: 0;
		visibility: hidden;
	}

	50% {
		opacity: 1;
		visibility: visible;
	}

	91.7% {
		opacity: 1;
		visibility: visible;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}