/* アニメーション */
/* MVかもめの上下移動 */
@keyframes sway {
	0% {
	  transform: translateY(0);
	}
	100% {
	  transform: translateY(-15px);
	}
  }

@keyframes sway-text {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(10px);
	}
}
