@use './variables' as *;
@use './mixins' as *;

html {
	scroll-behavior: smooth;

	&.is-open {
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
}

body {
	width: 100%;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

.is-open body {
	position: relative;
}


:target {
	scroll-margin-top: 160px;

	@include respond-to() {
		scroll-margin-top: 123px;
	}
}