@use './variables' as *;
@use './mixins' as *;

.c-heading {
	&__header {
		flex: 1 0 auto;
		font-size: 24px;
		font-weight: bold;
		line-height: 1;
		font-family: $font-outfit;
		color: $color-white;

		@include respond-to() {
			font-size: 16px;
			flex: 1 1 auto;
		}
	}

	&__main {
		font-size: 32px;
		line-height: 1;
		font-weight: bold;
		color: $color-white;
		font-family: $font-outfit;
		text-shadow: 0px 0px 20px #0000FFBF;

		@include respond-to() {
			font-size: 28px;
		}
	}

	&__large {
		margin-bottom: 24px;
		display: flex;
		align-items: center;
		gap: 24px;

		@include respond-to() {
			margin-bottom: 10px;
			flex-direction: column;
			align-items: flex-start;
			gap: 0;
		}

		&--sub {
			display: block;
		}
	}

	&__alp {
		font-size: 48px;
		font-family: $font-outfit;
		font-weight: 600;
		color: $color-main-blue;

		@include respond-to() {
			font-size: 36px;
		}

		&--sub {
			font-size: 36px;
			color: $color-white;
			display: block;
		}
	}

	&__sub {
		font-size: 20px;
		font-weight: bold;
		line-height: 1;

		@include respond-to() {
			font-size: 14px;
		}

		&--sub {
			display: block;
			font-size: 16px;
			font-weight: 500;
		}
	}

	&__wrap {
		margin-bottom: 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include respond-to() {
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
		}

		.c-heading__large {
			margin-bottom: 0;
		}
	}

	&__info {
		margin-bottom: 56px;
		font-size: 32px;
		font-weight: bold;
		line-height: 1;

		@include respond-to() {
			font-size: 24px;
			line-height: 1.4;
		}
	}

	&__guideline {
		margin-bottom: 24px;
		padding-bottom: 8px;
		font-size: 20px;
		font-weight: 600; 
		border-bottom: 1px solid $color-main-blue;

		@include respond-to() {
			margin-bottom: 8px;
		}

		&--sub {
			margin-bottom: 12px;
			font-size: 16px;
			font-weight: 600;
			display: flex;
			align-items: flex-start;

			@include respond-to() {
				margin-bottom: 16px;
				font-size: 14px;
			}

			&::before {
				content: "";
				width: 10px;
				height: 1px;
				margin-top: 13px;
				margin-right: 8px;
				background-color: $color-main-blue;
				display: block;

				@include respond-to() {
					margin-top: 11px;
				}
			}
		}
	}

	&__wrap {
		&--sign {
			margin: 0 auto 48px;
			display: flex;
			justify-content: center;

			@include respond-to {
				margin-bottom: 24px;
			}
		}
	}

	&__sign {
		font-size: 32px;
		font-weight: bold;
		color: $color-main-blue;
		text-align: center;
		position: relative;

		@include respond-to {
			font-size: 28px;
		}

		&::before {
			content: "";
			width: 19px;
			height: 22px;
			display: inline-block;
			background: url(@/assets/images/utils/icon_comic_sign.svg) center no-repeat;
			position: absolute;
			left: -18px;
			top: -5px;

			@include respond-to {
				left: -11px;
				top: -4px;
			}
		} 
	}

	&__message {
		max-width: 50%;
		display: inline-block;
		margin-left: 24px;
		margin-bottom: -16px;
		padding: 0 16px;
		position: relative;
		z-index: 1;
		background-color: $color-container-light-blue;

		@include respond-to() {
			width: 70%;
			max-width: none;
			min-width: 272px;
			display: block;
			margin: 0 auto -14px;
		}

		img {
			width: 100%;
		}
	}

	&__navigation {
		&--sub {
			padding-bottom: 11px;
			font-size: 24px;
			font-weight: bold;
			line-height: 1;
			display: flex;
			align-items: center;
			position: relative;

			span:first-child {
				word-break: keep-all;
			}

			span:last-child {
				font-size: 16px;
				font-family: $font-outfit;
				font-weight: 500;
				margin-left: 16px;
			}

			&::before {
				content: "";
				width: 30px;
				height: 3px;
				background-color: $color-main-blue;
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
			}
			
			@include respond-to() {
				display: none;
			}
		}

		&--lower-sub {
			margin-bottom: 16px;
			font-size: 24px;
			font-weight: bold;
			color: $color-gnav-black;
			display: flex;
			gap: 16px;
			align-items: center;

			span {
				font-size: 16px;
			}

			@include respond-to {
				margin-bottom: 12px;
				padding: 16px 16px 0;
				font-size: 16px;

				span {
					font-size: 14px;
				}
			}
		}
	}

	&__container {
		&--main {
			height: 138px;
			background: url(@/assets/images/utils/bg_title.webp) center center no-repeat;
			background-size: cover;
			display: flex;
			align-items: center;
			justify-content: center;

			@include respond-to($break-pc-max) {
				background-size: auto 138px;
			}

			@include respond-to() {
				height: 94px;
				background-image: url(@/assets/images/utils/bg_title_sp.webp);
				background-size: cover;
			}
		}
	}

	&__name {
		&--advisor {
			margin-bottom: 32px;
			font-size: 32px;
			font-weight: bold;

			@include respond-to() {
				margin-bottom: 16px;
				font-size: 24px;
			}
	
			span {
				font-size: 24px;

				@include respond-to() {
					font-size: 20px;
				}
			}
		}

		&--ambassador {
			font-size: 20px;
			line-height: 1;
			font-weight: 500;

			span {
				font-size: 16px;
				font-weight: normal;
				line-height: 1.6;
			}
		}
	}

	&__position {
		&--ambassador {
			margin-bottom: 8px;
			display: flex;
			align-items: center;
			gap: 8px;
			font-size: 20px;
			line-height: 1;
			font-weight: 500;

			&::before {
				content: "";
				width: 19px;
				height: 21px;
				display: block;
				background: url(@/assets/images/utils/icon_flag.svg) center no-repeat;
				background-size: contain;
			}
		}
	}

	&__error {
		flex-direction: column;
	}
}

.c-image {
	&__logo {
		&--header {
			background-color: $color-white;

			img {
				width: 100%;
			}
		}
	}

	&__thumb {
		width: 100%;
		aspect-ratio: 223 / 167;
		margin-bottom: 16px;
		position: relative;
		display: flex;
		align-items: center;
		background-color: #098BDE33;

	}

	&__heading {
		&--sns {
			img {
				width: 100%;
			}
		}
	}

	&__footer--copy {
		width: 480px;

		.sp {
			display: none;
		}

		@include respond-to() {
			img {
				display: none;
			}

			.sp {
				width: auto;
				margin: 0 auto;
				display: block;
			}
		}
	}

	&__member {
		flex: 1 0.5 236px;

		@include respond-to() {
			margin-bottom: 16px;
			flex: 1 1 auto;
			padding-bottom: calc((252 / 313) * 100%);
			position: relative;
			overflow: hidden;
		}

		img {
			width: 100%;

			@include respond-to() {
				position: absolute;
				top: 0;
				left: 0;
			}
		}

	}

	&__ambassador {
		flex: 1 0.5 200px;

		@include respond-to() {
			flex: 1 1 auto;
		}

		img {
			width: 100%;

			&.is-sp {
				display: none;
			}

			@include respond-to() {
				display: none;

				&.is-sp {
					display: block;
				}
			}
		}
	}

	&__guideline {
		margin-bottom: 30px;
	}
}

.c-button {
	&__standard {
		a, button {
			padding: 16px 16px 16px 24px;
			border: 1px solid $color-main-blue;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			color: $color-main-blue;
			font-size: 16px;
			line-height: 1;
			background-color: $color-white;
			border-radius: 30px;
			transition: background-color $fade-spd-default ease, color $fade-spd-default ease, background-image $fade-spd-default ease;

			@include respond-to() {
				padding: 8.5px 8.5px 8.5px 24px;
				font-size: 14px;
			}

			&::after {
				content: "";
				width: 18px;
				height: 18px;
				display: block;
				background: url(@/assets/images/utils/icon_arrow.svg) center no-repeat;
				background-size: cover
			}

			&:hover {
				background-color: $color-main-blue;
				color: $color-white;

				&::after {
					background-image: url(@/assets/images/utils/icon_arrow_white.svg);
				}
			}
		}
	}

	&__download {
		display: flex;
		justify-content: center;

		a {
			padding-left: 30px;
			padding-right: 30px;
		}
	}

	&__menu {
		&--header {
			display: none;

			@include respond-to() {
				display: block;
			}
		}
	}

	&__sns {
		&--header {
			width: 30px;

			@include respond-to() {
				width: 45px;
			}

			img {
				width: 100%;
			}
		}
	}

	&__entry {
		align-self: stretch;

		@include respond-to() {
			width: calc(100% - 40px);
		}

		a {
			width: 150px;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			color: $color-white;
			border: none;
			background-color: $color-red;
			font-size: 20px;
			font-family: $font-outfit;
			font-weight: bold;
			transition: background-color $fade-spd-default ease;

			@include respond-to() {
				width: 100%;
				padding: 15px 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: row;
				gap: 10px;
				border: 1px solid $color-white;
			}

			&:hover {
				background-color: $color-table-blue;
			}

			span {
				font-size: 14px;
				font-weight: normal;
			}
		}
	}

	&__language {
		@include respond-to() {
			display: none;
		}

		button {
			margin-left: auto;
			margin-right: 0;
			padding: 8px;
			appearance: none;
			border-radius: 5px;
			border: none;
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: center;
			font-size: 12px;
			font-weight: bold;
			color: $color-white;
			background-color: $color-green;
			cursor: pointer;

			&::before {
				content: "";
				width: 14px;
				height: 14px;
				display: block;
				background: url(@/assets/images/utils/icon_language.svg) center no-repeat;
				background-size: contain;
			}

			@include hover-opacity();
		}
	}

	&__menu {
		&--toggle-header {
			display: none;
			text-align: center;
			cursor: pointer;

			@include respond-to() {
				display: block;
				margin-right: 10px;
			}
		}

		&--toggle-icon {
			width: 24px;
			height: 16px;
			margin: 0 auto 4px;
			color: $color-white;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			
			span {
				width: 100%;
				height: 2px;
				background-color: $color-white;
				display: block;
				transition: width $fade-spd-default ease;
			}

			&::before,
			&::after {
				content: "";
				width: 100%;
				height: 2px;
				display: block;
				background-color: $color-white;
				transition: transform $fade-spd-default ease;
				transform-origin: center;
			}

		}

		.is-open &--toggle-icon {
			span {
				width: 0;
			}

			&::before {
				transform: rotate(45deg) translate(5px, 5px);
			}

			&::after {
				transform: rotate(-45deg) translate(5px, -5px)
			}
		}
	}

	&__pagetop {
		width: 82px;
		padding: 0;
		user-select: none;
		cursor: pointer;
		appearance: none;
		background-color: transparent;
		transition: opacity $fade-spd-default ease, visibility $fade-spd-default ease;
		opacity: 1;
		visibility: visible;

		&.is-hidden {
			opacity: 0;
			visibility: hidden;
		}

		@include respond-to() {
			width: 61px;
		}

		img {
			width: 100%;
			filter:drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
		}
	}

	&__footer {
		flex: 0 1 calc((400 / 850) * 100%);

		a {
			width: 100%;
			padding: 29px 38px;
			border: 1px solid $color-white;
			color: $color-white;
			font-size: 20px;
			font-weight: bold;
			line-height: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;
			transition: opacity $fade-spd-default ease;

			@include respond-to(){
				padding: 24px 57px 24px 29px;
			}

			&::after {
				content: "";
				width: 20px;
				height: 20px;
				display: block;
				background: url(@/assets/images/utils/icon_link_arrow.svg) center no-repeat;
				background-size: contain;
			}

			&[target="_blank"]::after {
				background-image: url(@/assets/images/utils/icon_link_tab.svg);
			}

			&:hover {
				opacity: 0.7;
			}
		}

		&--press {
			a {
				background-color: $color-green;
			}
		}

		&--official {
			a {
				background-color: $color-tag-event;
			}
		}

		&--financial {
			@include respond-to() {
				display: flex;
			}
		}
	}

	&__sponsor {
		a {
			padding: 4px 24px;
			font-size: 16px;
			color: $color-white;
			border-color: $color-white;
			background-color: $color-main-blue;
			justify-content: center;

			&::after {
				filter: invert(100%);
			}

			&:hover {
				color: $color-main-blue;
				background-color: $color-white;

				&::after {
					filter: $filter-white-to-blue;
				}
			}
		}
	}
}

.c-navigation {
	&__header {
		&--wrapper {
			@include respond-to() {
				width: 100%;
				height: calc(100dvh - 50px);
				padding-bottom: 20px;
				position: absolute;
				top: 0;
				left: 0;
				overflow-x: hidden;
				overflow-y: visible;
				background: linear-gradient(180deg, #D4EAF9 0%, #FFFFFF 100%);
				z-index: 1;

				transform: translateX(100%);
				visibility: hidden;
				transition: transform $fade-spd-default ease-out, visibility $fade-spd-default ease-out;
			}

			&.is-open {
				transform: translateX(0);
				visibility: visible;
			}
		}

		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		gap: 24px;

		@include respond-to() {
			width: 100%;
			margin-bottom: 32px;
			display: block;
			position: relative;
			left: 0;
			transition: transform $fade-spd-default ease;
			transform: translateX(0);
		}

		li {
			font-size: 18px;
			line-height: 1;

			@include respond-to() {
				font-size: 16px;
				line-height: 1.6;
			}
		}
	}

	&__sub {
		width: 100%;
		height: 222px;
		padding: 56px 56px 26px;
		position: absolute;
		overflow: hidden;
		top: 100%;
		left: 0;
		background: linear-gradient(180deg, #D4EAF9 0%, #FFFFFF 100%);

		display: flex;
		gap: 56px;
		align-items: flex-start;

		opacity: 0;
		visibility: hidden;
		transition: opacity $fade-spd-default ease, visibility $fade-spd-default ease;

		&.is-visible {
			opacity: 1;
			visibility: visible;

			@include respond-to() {
				max-height: 600px;
			}
		}

		@include respond-to(1280px) {
			padding-bottom: 30px;
		}

		@include respond-to(980px) {
			padding-top: 36px;
			padding-bottom: 10px;
		}

		@include respond-to() {
			height: auto;
			max-height: 0;
			padding: 0;
			flex-wrap: nowrap;
			opacity: 1;
			visibility: visible;
			position: relative;
			top: 0;
			overflow: hidden;
			background: transparent;
			box-sizing: content-box;
			flex-direction: column;
			gap: 0;

			transition: max-height $fade-spd-default ease;
		}
	}
}

.c-container {
	margin-bottom: 32px;
	padding: 32px;
	border-radius: 16px;
	background-color: $color-container-light-blue;
	box-shadow: 0px 0px 30px 0px #098bde33;
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 0.25s ease-out, transform 0.25s ease-out;

	@include respond-to() {
		padding: 16px;
	}

	&.is-visible {
		opacity: 1;
		transform: translateY(0);
	}

	&__sub {
		padding-top: 0;
	}
}

.c-tab {
	&__news {
		margin-top: -14px;
		margin-bottom: 10px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		border-bottom: 1px solid #c5c5c5;

		@include respond-to() {
			margin-top: 0;
			gap: 8px;
			border-bottom-color: transparent;
		}

		button {
			width: 100%;
			display: block;
			padding: 10px 5px 15px;
			background-color: transparent;
			position: relative;
			font-size: 15px;
			font-weight: bold;
			line-height: 1;

			@include respond-to() {
				padding: 10px 0 8px;
				font-size: 10px;
			}

			&::after {
				content: "";
				width: 100%;
				height: 3px;
				display: block;
				position: absolute;
				bottom: -1px;
				left: 0;
				background: $color-main-blue;
				opacity: 0;
				transition: opacity $fade-spd-default ease;
			}

			&:hover::after {
				opacity: 1;
			}
		}

		.is-current button::after {
			opacity: 1;
		}

		li {
			&.is-current button::after {
				opacity: 1;
			}

			@include respond-to {
				border-bottom: 1px solid #c5c5c5;
				flex: 1 1 auto !important;
			}

			&.is-active button:after {
				opacity: 1;
			}
		}
		
		.all {
			flex: 1 1 calc((97 / 986) * 100%);
		}

		.info {
			flex: 1 1 calc((130 / 986) * 100%);

			button::after {
				background: $color-tag-info;
			}
		}
		
		.runner {
			flex: 1 1 calc((130 / 986) * 100%);

			button::after {
				background: $color-tag-runner;
			}
		}
		
		.volunteer {
			flex: 1 1 calc((160 / 986) * 100%);

			button::after {
				background: $color-tag-volunteer;
			}
		}
		
		.event {
			flex: 1 1 calc((175 / 986) * 100%);
			
			button::after {
				background: $color-tag-event;
			}
		}
		
		.traffic {
			flex: 1 1 calc((130 / 986) * 100%);

			button::after {
				background: $color-tag-traffic;
			}
		}


	}
}

.c-list {
	&__news {
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;

		&--item {
			padding: 16px;
			display: flex;
			gap: 16px;

			@include respond-to() {
				flex-direction: column;
				gap: 8px;
			}
		}

		&--date {
			padding: 4px 0;
			flex: 0 0 91px;
			font-size: 15px;
			line-height: 1;

			@include respond-to() {
				flex: 1 1 auto;
			}
		}

		&--container {
			flex: 1 1 auto;
		}

		&--text {
			font-size: 16px;
			line-height: 1.4;

			@include respond-to() {
				font-size: 14px;
			}

			a.is-external {
				display: flex;
				align-items: center;
				gap: 5px;

				&::after {
					content: "";
					color: $color-main-blue;
					display: inline-block;
					margin-left: 5px;
					width: 17px;
					height: 17px;
					background-image: url(@/assets/images/utils/icon_link_tab.svg);
					background-size: contain;
					background-repeat: no-repeat;
					filter: invert(100%);
				}
			}
		}
	}

	&__tags {
		margin-bottom: 8px;
		display: flex;
		gap: 10px;
	}

	&__sns {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;

		@include respond-to() {
			flex-direction: column;
		}

		li {
			flex: 0 0 303px;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: stretch;
			background-color: $color-white;

			@include respond-to() {
				width: 100%;
				flex-basis: auto;
			}

		}
		.fb_iframe_widget {
			height: 439px;
			margin: 0 auto;

			@include respond-to() {
				height: auto;
			}
		}

		.instagram .block-timeline {
			border: 1px solid #efefef;
		}

		&--ambassador {
			display : flex;
			gap: 16px;
			align-items: center;

			li {
				width: 30px;

				&.yt {
					width: 34px;
				}

				&.x {
					width: 27px;
				}

				img {
					width: 100%;
				}
			}
		}
	}

	&__sns--header {
		padding: 6px 16px 6px 24px;
		display: flex;
		background-color: $color-white;
		border-top-left-radius: 32px;
		border-bottom-left-radius: 32px;
		gap: 16px;

		@include respond-to() {
			position: relative;
			top: 0;
			left: 0;
			padding: 0;
			border-radius: 0;
			gap: 24px;
			background-color: transparent;
			justify-content: center;
		}
	}

	&__wrapper {
		&--slider {
			position: relative;

			&--sp {
				display: none;

				@include respond-to {
					margin-top: 16px;
					margin-bottom: 16px;
					display: block;
	
					&::before {
						content: "";
						width: calc(100% - 32px);
						margin-left: 16px;
						display: block;
						border-top: 1px dashed $color-main-blue;
					}
	
					&::after {
						content: "";
						width: calc(100% - 32px);
						margin-left: 16px;
						display: block;
						border-bottom: 1px dashed $color-main-blue;
					}
				}
			}

		}
	}

	&__block {
		&--slider {
			@include respond-to {
				padding: 16px 34px !important;

				&::before,
				&::after {
					content: "";
					width: 34px;
					height: 100%;
					position: absolute;
					top:0;
					background-color: $color-container-light-blue;
					z-index: 2;
					display: block;
				}

				&::before {
					left: 0;
				}

				&::after {
					right: 0;
				}
			}
		}
	}

	&__movie {
		width: 100%;
		display: flex;
		row-gap: 30px;
		column-gap: 24px;
		flex-wrap: wrap;

		@include respond-to() {
			row-gap: 0;
			column-gap: 0;
			flex-wrap: nowrap;
		}

		li {
			flex: 0 0 calc((100% - 48px) / 3);

			@include respond-to() {
				flex: 0 0 100%;
			}
		}

		&.is-single li {
			// 表示する動画が1枚のみの対応
			flex-basis: 100%;
		}

		a {
			@include hover-opacity();
		}
	}

	&__info {
		width: 100%;
		display: flex;
		row-gap: 34px;
		column-gap: 24px;
		flex-wrap: wrap;

		@include respond-to() {
			flex-wrap: nowrap;
			row-gap: 0;
			column-gap: 0;
		}

		li {
			flex: 0 0 calc((100% - 72px) / 4);

			@include respond-to(){
				flex: 0 0 100%;
			}
		}

		a {
			@include hover-opacity();
		}
	}

	&__sponsor {
		margin-top: 16px;
		margin-bottom: 16px;
		padding-top: 16px;
		padding-bottom: 16px;
		border-top: 1px dashed $color-main-blue;
		border-bottom: 1px dashed $color-main-blue;
		
		@include respond-to() {
			display: none;
			border-bottom: none;
		}

		li {
			margin-bottom: 8px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&--sp {
			padding-bottom: 16px;
			display: none !important;

			@include respond-to() {
				display: flex !important;
				align-items: center;
			}

			li {
				margin-bottom: 0;
			}
		}

		a {
			padding: 20px 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $color-white;
			@include hover-opacity;

			img {
				width: calc(100% - 20px);
				margin: 0 auto;

				&.logo-jorf {
					width: 80%;
				}
			}
		}
	}

	&__guideline {
		&--ol {
			margin-bottom: 24px;
			counter-reset: guide;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				padding-left: 1.2em;
				text-indent: -1em;
				font-size: 16px;
				line-height: 1.6;
				
				&::before {
					counter-increment: guide;
					content: counter(guide)'. ';
				}

				@include respond-to() {
					font-size: 12px;
				}
			}
		}

		&--kome {
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				padding-left: 1.3em;
				text-indent: -1.3em;
				font-size: 14px;

				&::before {
					content: "※ ";
				}

				@include respond-to() {
					font-size: 12px;
				}
			}
		}

		&--dot {
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}

			li {
				padding-left: 1.3em;
				text-indent: -1.3em;

				&::before {
					content: "・ ";
				}
			}
		}
	}

	&__career {
		margin-bottom: 32px;
		padding: 16px 0;
		border-top: 1px dashed $color-main-blue;
		border-bottom: 1px dashed $color-main-blue;

		@include respond-to() {
			margin-bottom: 16px;
			padding: 8px 0;
		}

		li {
			margin-bottom: 8px;
			font-size: 16px;
			line-height: 1.6;
			display: flex;
			flex-wrap: wrap;
			column-gap: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__navigation {
		&--sub {
			height: 100%;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			row-gap: 16px;
			column-gap: 24px;

			@include respond-to() {
				margin: 16px;
			}
		}

		&--footer {
			display: flex;
			flex-wrap: wrap;
			gap: 24px;
		}
	}
}

.c-movie {
	&__container {
		width: 100%;
		aspect-ratio: 16 / 9;
		position: relative;

		iframe {
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
}

.c-tag {
	padding: 4px 16px;
	color: $color-white;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	border-radius: 20px;
	overflow: hidden;

	@include respond-to() {
		font-size: 12px;
	}

	&.info {
		background: $color-tag-info;
	}

	&.runner {
		background: $color-tag-runner;
	}

	&.volunteer {
		background: $color-tag-volunteer;
	}

	&.traffic {
		background: $color-tag-traffic;
	}

	&.event {
		background: $color-tag-event;
	}
}

.c-text {
	&__name {
		&--footer {
			font-size: 24px;
			line-height: 1.4;
			font-weight: bold;
			color: $color-white;

			@include respond-to() {
				font-size: 16px;
			}
		}

		&--footer-en {
			margin-bottom: 32px;
			font-size: 20px;
			line-height: 1.4;
			font-weight: bold;
			color: $color-white;

			@include respond-to() {
				margin-bottom: 16px;
				font-size: 14px;
			}
		}
	}

	&__label {
		&--thumb {
			font-size: 16px;
			line-height: 1.4;

			@include respond-to() {
				font-size: 14px;
			}
		}
	}

	&__guideline {
		margin-bottom: 24px;

		@include respond-to() {
			font-size: 14px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&--caption {
			margin-top: -16px;
			margin-bottom: 24px;

			a {
				color: $color-main-blue;
			}

			@include respond-to() {
				margin-top: -46px;
			}
		}

		a {
			color: $color-main-blue;
		}

		&--entry {
			font-size: 20px;
			font-weight: 600;
			text-align: center;

			a {
				color: $color-main-blue;
			}
		}
	}

	&__address {
		&--footer {
			font-size: 14px;
			line-height: 1.4;
			color: $color-white;

			@include respond-to() {
				font-size: 12px;
			}
		}
	}

	&__copyright {
		font-size: 12px;
		line-height: 1;
		color: $color-white;
		font-family: $font-inter;
	}

	&__toggle-header {
		font-size: 8px;
		font-weight: 600;
		color: $color-white;
	}

	&__error {
		text-align: center;
	}
	&__strong{
		font-weight: bold;
		color: $color-tag-info;
	}

	&__profile {
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 1.6;

		@include respond-to() {
			font-size: 14px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		a {
			color: $color-main-blue;
			text-decoration: underline;

			&[target="_blank"] {
				display: flex;
				align-items: center;

				&::after {
					content: "";
					display: inline-block;
					margin-left: 5px;
					width: 15px;
					height: 15px;
					background-image: url(@/assets/images/utils/icon_link_tab.svg);
					background-size: contain;
					filter: $filter-white-to-blue;
				}
			}
		}
	}

	&__message {
		margin-bottom: 16px;
		font-size: 14px;
		line-height: 1.6;

		&:last-child {
			margin-bottom: 0;
		}

		&--translation {
			font-size: 12px;
			line-height: 1.4;
		}
	}
}

.c-link {
	&__text {
		a {
			font-size: 14px;
			line-height: 1.4;
			color: $color-white;
			text-decoration: underline;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 5px;

			&::before {
				content: "";
				width: 7px;
				height: 11px;
				background: url(@/assets/images/utils/icon_white_arrow.svg) center no-repeat;
				background-size: contain;
				display: block;
			}
		}
	}

	&__navigation {
		display: block;
		padding: 16px 0;
		font-weight: bold;
		position: relative;
		transition: color $fade-spd-default ease;

		@include respond-to() {
			padding: 24px 16px;
			font-size: 18px;
			letter-spacing: 0.05;
			border-bottom: 1px solid $color-tab-default-gray;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&::after {
			content: "";
			width: 100%;
			height: 2px;
			position: absolute;
			bottom: 0;
			left: 0;
			opacity: 0;
			background-color: $color-main-blue;
			transition: opacity $fade-spd-default ease;

			@include respond-to() {
				width: 28px;
				height: 28px;
				background: url(@/assets/images/utils/icon_arrow.svg) center no-repeat;
				background-size: contain;
				transform-origin: center;
				// transform: rotate(90deg);
				opacity: 1;
				display: block;
				position: static;
			}
		}

		&:not([href]) {
			font-weight: normal;
			opacity: 0.7;

			@include respond-to() {
				opacity: 1;
				font-weight: bold;
				color: $color-disabled-gray;

				&::after {
					content: none;
				}
			}
		}

		&[href]:hover {
			color: $color-main-blue;

			&::after {
				opacity: 1;
			}
		}

		&--toggle {
			@include respond-to() {
				&::after {
					transition: transform $fade-spd-default ease;
					transform: rotate(90deg);
				}

				&.is-open::after {
					transform: rotate(-90deg);
				}
			}
		}

		// フッターナビ
		&--footer-title {
			a {
				margin-bottom: 8px;
				display: flex;
				align-items: center;
				gap: 8px;
				font-size: 12px;
				font-weight: bold;
				line-height: 1.4;
				color: $color-white;
	
				&::before {
					content: "";
					width: 15px;
					height: 15px;
					display: block;
					background: url(@/assets/images/utils/icon_white_arrow_circle.svg) center no-repeat;
					background-size: contain;
				}
			}
		}

		&--footer-lv2 {
			margin-bottom: 4px;
			color: $color-white;
			font-size: 12px;
			line-height: 1.4;
			font-weight: normal;
			display: flex;
			align-items: center;
			gap: 14px;

			&::before {
				content: "";
				width: 4px;
				height: 6px;
				display: block;
				background: url(@/assets/images/utils/icon_white_arrow.svg) center no-repeat;
				background-size: contain;
			}

			a[target="_blank"] {
				display: flex;
				align-items: center;
				gap: 5px;

				&::after {
				content: "";
				display: inline-block;
				width: 12px;
				height: 12px;
				background-image: url(@/assets/images/utils/icon_link_tab.svg);
				background-size: contain;
				}
			}
		}
	}

	&__sub-navigation {
		a {
			display: flex;
			align-items: center;
			font-size: 16px;
			color: $color-main-blue;

			&::before {
				content: "";
				width: 18px;
				height: 18px;
				margin-right: 8px;
				display: block;
				background: url(@/assets/images/utils/icon_arrow.svg) center no-repeat;
				background-size: cover
			}

			&:not([href]) {
				color: $color-disabled-gray;
				
				&::before {
					background-image: url(@/assets/images/utils/icon_arrow_disabled.svg);
				}
			}

			&[target="_blank"] {
				display: flex;
				align-items: center;

				&::after {
					content: "";
					color: $color-main-blue;
					display: inline-block;
					margin-left: 5px;
					width: 14px;
					height: 14px;
					background-image: url(@/assets/images/utils/icon_link_tab.svg);
					background-size: contain;
					filter: $filter-white-to-blue;
				}
			}
		}
	}

	&__pdf {
		&::before {
			content: "PDF";
			margin: 0 5px;
			padding: 2px 5px;
			font-size: 12px;
			color: #fff;
			background-color: $color-red;
		}
	}

	&__sponsor {
		font-size: 14px;
		text-decoration: underline;
		text-align: center;
		color: $color-main-blue;
	}

	&__external {
		display: inline-flex;
		align-items: center;

		&::after {
			content: "";
			color: $color-main-blue;
			display: inline-block;
			margin-left: 3px;
			width: 18px;
			height: 18px;
			background-image: url(@/assets/images/utils/icon_link_tab.svg);
			background-size: contain;
			filter: $filter-white-to-blue;
		}
	}

	&__underline {
		text-decoration: underline;
	}
}

.c-slider {
	&__banners {
		width: auto;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 10px;

		@include respond-to() {
			flex-wrap: nowrap;
			gap: 0;
		}

		li {
			width: 140px;
			height: auto;
			flex-basis: 140px;

			@include respond-to() {
				flex-basis: auto;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		a {
			transition: opacity $fade-spd-default ease;

			&:hover {
				opacity: 0.7;
			}
		}
	}
}

.c-wrap {
	&__member {
		margin-bottom: 24px;
		display: flex;
		gap: 32px;

		@include respond-to() {
			margin-bottom: 10px;
			flex-direction: column;
		}
	}

	&__ambassador {
		margin-bottom: 32px;
		display: flex;
		gap: 24px;

		@include respond-to() {
			flex-direction: column;
		}
	}

	&__name {
		&--ambassador {
			margin-bottom: 16px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;

			@include respond-to() {
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}
}

.c-block {
	&__split {
		&--sponsor {
			display: flex;
			justify-content: space-between;
			gap: 8px;

			a {
				flex: 0 0 calc((100% - 8px) / 2);
				background-color: $color-white;
			}
		}
	}

	&__guideline {
		margin-bottom: 40px;
	}
	
	&__member {
		flex: 1 1 718px;

		@include respond-to() {
			flex: 1 1 auto;
		}
	}

	&__heading {
		&--sponsor {
			width: calc(100% + 64px);
			margin-left: -32px;
			margin-bottom: 24px;
			padding: 16px 24px;
			background-color: $color-main-blue;
			color: $color-white;
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;	
			position: relative;

			@include respond-to {
				width: calc(100% + 32px);
				margin-left: -16px;
				}

			&::before {
				content: "";
				background: url(/src/assets/images/utils/icon_sponsor.png) center no-repeat;
				background-size: contain;
				width: 62px;
				height: 58px;
				display: block;
				position: absolute;
				top: 21px;
				right: 25px;

				@include respond-to(1279px) {
					content: none;
				}

				@include respond-to {
					content: '';
				}
			}
		}
	}
}

.c-inner {
	&__message {
		padding: 24px;
		border: 1px solid $color-main-blue;
		border-radius: 16px;
		position: relative;

		@include respond-to() {
			padding: 24px 16px 16px;
		}

		&::before {
			content: "";
			width: 374px;
			height: 76px;
			position: absolute;
		}
	}
}

.c-table {
	&__guideline {
		width: 100%;
		margin-bottom: 24px;
		position: relative;

		@include respond-to() {
			overflow-x: auto;
		}

		table {
			width: 100%;
			border-collapse: collapse;

			@include respond-to() {
				width: 980px;
			}
		}

		th {
			width: 25%;
			padding: 15px;
			font-size: 16px;
			font-weight: normal;
			background-color: $color-table-blue;
			text-align: center;
			vertical-align: middle;
			border: 1px solid $color-white;
			border-bottom: none;

			@include respond-to() {
				width: 245px;
			}
		}

		td {
			padding: 15px;
			font-size: 16px;
			text-align: center;
			vertical-align: middle;
			border: 1px solid $color-table-blue;
		}
	}
}

.c-copy {
	&__sponsor {
		text-align: center;

		img {
			margin: 0 auto 1rem;
		}

		&-link{
			text-align: center;
			a{
				text-decoration: underline;
				color: $color-main-blue;
			}
		}
	}
}