@use './variables' as *;
@use './mixins' as *;

// Swiper補正
.swiper-button-prev,
.swiper-button-next {
	width: 24px !important;
	height: 24px !important;
	user-select: none;
	color: transparent !important;

	svg {
		display: none !important;
	}
}

.swiper-button-prev {
	top: calc(50% + 12px) !important;
	left: 4px !important;
	background: url(@/assets/images/utils/icon_prev_slide_blue.svg) center no-repeat;
	background-size: contain;
}
.swiper-button-next {
	top: calc(50% + 12px) !important;
	right: 4px !important;
	background: url(@/assets/images/utils/icon_next_slide_blue.svg) center no-repeat;
	background-size: contain;
}

.swiper-slide {
	img {
		width: 100%;
	}
}

.l-footer__banners--inner {
	.swiper-button-prev {
		left: 10px !important;
		background: url(@/assets/images/utils/icon_prev_slide.svg) center no-repeat;
		background-size: contain;
		}
	.swiper-button-next {
		right: 10px !important;
		background: url(@/assets/images/utils/icon_next_slide.svg) center no-repeat;
		background-size: contain;
	}
}

// wovnテキスト切り替え
.wovn-languages ul {
	display: flex;
	list-style: none;
	gap: 5px;

	@include respond-to() {
		justify-content: center;
	}
}
.wovn-languages li {
	padding: 0 10px;
	font-size: 16px;
	color: $color-white;
	cursor: pointer;

	@include respond-to() {
		color: #000;
	}
}
.wovn-languages li + li {
	border-left: 1px solid;
}
.wovn-languages li.selected {
	font-weight: bold;
}
.wovn-languages li.wovn-switch:hover {
	text-decoration: underline;
}