@use './variables' as *;
@use './mixins' as *;

.u-hidden {
	visibility: hidden;
}

.u-not-disp {
	display: none;
}

.u-mb-0 {
	margin-bottom: 0;
}

.u-sp {
	display: none !important;

	@include respond-to() {
		display: block !important;
	}
}

.u-pc {
	@include respond-to() {
		display: none !important;
	}
}
