// color
$color-white: #ffffff;
$color-tab-default-gray: #cecece;
$color-disabled-gray: #9f9f9f;
$color-main-blue: #0000ff;
$color-bg-light-blue: #ebf4ff;
$color-container-light-blue: #f6fbff;
$color-green: #40B87C;
$color-logo-blue: #0176c3;
$color-red: #ff0000;

$color-tag-info: #cc0000;
$color-tag-runner: #0099e5;
$color-tag-volunteer: #fe5b84;
$color-tag-event: #ea9800;
$color-tag-traffic: #40b87c;

$color-table-blue: #64c9f2;

// font-family
$font-outfit: 'Outfit', sans-serif;
$font-inter: 'Inter', sans-serif;

// respond
$break-sp: 768px;
$break-pc-max: 1440px;

// animation
$fade-spd-default: 0.3s;