@use '../../variables' as *;
@use '../../mixins' as *;

.p-session {
	&__container {
		margin-bottom: 48px;
		padding: 24px;
		display: grid;
		grid-template-columns: auto clamp(130px, 21.3%, 200px);
		grid-template-rows: auto auto auto auto;
		column-gap: 24px;
		row-gap: 16px;

		border: 1px solid $color-main-blue;
		border-radius: 8px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		&::after {
			content: "";
			width: 76px;
			height: 58px;
			background: url(/public/images/event/session/img_runner.png) center no-repeat;
			background-size: contain;
			position: absolute;
			right: 24px;
			top: -36px;

			@include respond-to {
				width: 52px;
				height: 40px;
				right: 16px;
				top: -22px;
			}
		}

		@include respond-to {
			display: block;
			margin-bottom: 40px;
		}
	}

	&__block {
		&--heading {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
		}

		&--info {
			grid-column: 1 / 2;
			grid-row: 2 / 3;

			margin: 0;
			padding: 16px;
			background-color: $color-bg-light-blue;
			display: flex;
			flex-wrap: wrap;
			gap: 16px;

			dt {
				flex: 0 0 65px;
				font-size: 16px;
				font-weight: bold;
				line-height: 1.6;
			}

			dd {
				margin: 0;
				flex: 1 1 calc(100% - 81px);
				font-size: 16px;
				line-height: 1.6;
			}

			span {
				margin-left: 1rem;
				font-weight: bold;
			}

			@include respond-to {
				display: block;
				margin-bottom: 10px;

				dt {
					margin-bottom: 4px;
				}

				dd {
					margin-bottom: 8px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&--copy {
			grid-column: 1 / 2;
			grid-row: 3 / 4;

			@include respond-to {
				margin-bottom: 10px;
			}
		}

		&--button {
			grid-column: 1 / 2;
			grid-row: 4 / 5;

			max-width: 270px;
			
			a {
				background-color: transparent;
			}

			@include respond-to {
				max-width: 240px;
				margin: 0 auto;
			}
		}
	}

	&__image {
		&--profile {
			grid-column: 2 / 3;
			grid-row: 2 / 5;

			.is-sp {
				display: none;
			}

			@include respond-to {
				margin-bottom: 10px;

				img {
					display: none;
				}

				.is-sp {
					display: block;
				}
			}
		}
	}

	&__text {
		&--end {
			margin-bottom: 16px;
			font-size: 24px;
			font-weight: bold;
			color: $color-tag-info;
			display: flex;
			align-items: center;
			gap: 4px;

			&::before {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				background: url(/src/assets/images/utils/icon_exclamation.svg) center no-repeat;
				background-size: contain;
			}

			@include respond-to {
				font-size: 20px;
				margin-bottom: 8px;

				&::before {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	&__copy {
		a {
			color: $color-main-blue;
			text-decoration: underline;
		}

		@include respond-to {
			font-size: 14px;
		}
	}

	&__heading {
		&--main {
			margin-bottom: 40px;

			@include respond-to {
				margin-bottom: 10px;
			}
		}

		&--event-name {
			font-size: 24px;
			font-weight: bold;

			@include respond-to {
				margin-bottom: 10px;
				font-size: 20px;
			}
		}
	}
}