<meta charset="UTF-8" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S4JTNV6SKV"></script>
<script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
  
     gtag('config', 'G-S4JTNV6SKV');
</script>
<title><%= title %> | ちばアクアラインマラソン2026</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" sizes="64x64">
<link rel="apple-touch-icon" href="/images/common/icon.png" type="image/png" sizes="180x180">
<link rel="icon" href="/images/common/icon.png" type="image/png" sizes="192x192">
<meta name="Description" content="<%= description %>">
<meta name="Keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">

<meta property="og:type" content="website">
<meta property="og:title" content="海を走ろう〜アクアラインの風にのって〜">
<meta property="og:description" content="<%= description %>">
<meta property="og:url" content="https://chiba-aqualine-marathon.com/<%= path %>">
<meta property="og:image" content="https://chiba-aqualine-marathon.com/images/ogp.png">
<meta property="og:site_name" content="ちばアクアラインマラソン2026ホームページ">
<meta property="og:locale" content="ja_JP">
<script src="https://j.wovn.io/1" data-wovnio="key=Kz5Mg3" async></script>