<!doctype html>
<html lang="ja_JP">
<head>
		<%
			const title = "Tシャツデザイン決定！";
			const path="tournament/sponsorship.html" 
			const description="2026年11月8日開催！ちばアクアラインマラソン2026のTシャツデザインが決定！。海ほたるの青く雄大な空と海に囲まれた景色の中や、千葉の田園を、市民ランナーが走ります。"
		%>
		<%- include("src/include/head.ejs", {title, path, description}) %>
</head>
<body class="l-guideline">
	<%- include("src/include/header.html") %>
	<main class="l-main">
		<section class="l-heading p-top__heading">
			<div class="c-heading__container--main">
				<h2 class="c-heading__main">ランナー</h2>
			</div>
		</section>
		<div class="l-breadclumb">
			<ul>
				<li><a href="/">トップ</a></li>
				<li>ランナー</li>
				<li>Tシャツデザイン決定！</li>
			</ul>
		</div>

		<section class="l-content">
			<div class="l-content__inner">
				<div class="l-column__main">
					<section class="c-container">
						<ul class="p-qa__list--anchors">
							<li><a href="#general">全般について</a></li>
							<li><a href="#competition">競技関係について</a></li>
							<li><a href="#half">ハーフマラソンについて</a></li>
							<li><a href="#wheelchair">車いすハーフマラソンについて</a></li>
							<li><a href="#course">コースについて</a></li>
							<li><a href="#entry">エントリーについて</a></li>
						</ul>
						<div class="c-block__guideline p-qa__block--guideline" id="general">
							<h4 class="c-heading__guideline p-qa__heading--guideline">全般について</h4>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="gen-01"><span>ゼッケンナンバーや参加資料等はいつ頃どのように届きますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="gen-01">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">10月上旬から順次発送を開始いたします。ペアや団体申込で申込された方につきましては、ゼッケンナンバーによって発送時期が異なる場合があります。その場合は、お手元に一人ずつ届きますので、御了承ください。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="gen-02"><span>事前送付物が届かない場合はどうしたらよいですか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="gen-02">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												①10月末までに事前送付物が届かない場合は、ちばアクアラインマラソン2026大会事務局（株式会社I＆S BBDO）までご連絡ください。<br>
												<br>
												②エントリー情報を入力されたあとに、お引越し等で住所が変更になった方は、事前送付物が届きませんので、変更先をちばアクアラインマラソン2026大会運営事務局（株式会社 I&S BBDO）までお問合せください。連絡をいただけない場合は、当日の受付となることもあります。住所変更の連絡は、7月31日（金）までといたします。それ以降の場合は、着払いで再送付、または、当日受付をご利用ください。
											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="gen-03"><span>大会OFFICIAL PROGRAM（参加案内）は事前送付されますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="gen-03">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												① ペーパーレス化を図る為、紙面での事前送付はありません。前回大会から電子版での配布となっておりますので、事前送付する「ご案内」に二次元コードから読み取っていただき、内容の確認をお願いいたします。また、参加案内も内容に含まれておりますので、大会当日までに必ずご確認ください。<br>なお、同様の内容が10月中旬以降大会公式HPにも掲載されます。<br>
												<br>
												②二次元コードが読み取れない場合は、ちばアクアラインマラソン2026大会運営事務局（株式会社 I&S BBDO）までお問合せください。
											</p>
										</div>
									</div>
								</div>
							</div>


							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="gen-04"><span>大会の出場を辞退することになった場合の参加費の返金はありますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="gen-04">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												入金手続き終了後のキャンセルや返金はできません。ペアや団体の場合も、同様といたします。
											</p>
										</div>
									</div>
								</div>
							</div>


							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="gen-05"><span>会場に更衣室はありますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="gen-05">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												イベントエリア（木更津市民体育館）とハーフフィニッシュ会場（牛込漁港）にあります。広さには限りがありますので、着替えのしやすい服装で御来場ください。なお、長時間の利用は避け、着替えが終わりましたら速やかに更衣室の外へ出てください。
											</p>
										</div>
									</div>
								</div>
							</div>


							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="gen-06"><span>手荷物預け場所はどこにありますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="gen-06">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												マラソンとハーフマラソンでは、手荷物預け場所が異なります。<br>
												マラソン出場の方は、マラソンフィニッシュ会場に、ハーフマラソン出場の方はかずさ水道広域連合企業団駐車場になります。お預けの際は、事前送付物にてお送りしました「手荷物預け袋（45L袋）」に「手荷物預け用シート」を見えるように入れて、受付スタッフへお預けください。<br>
												なお、ハーフマラソンの参加者の手荷物は、ハーフフィニッシュ会場（牛込海岸）へ搬送し、返却します。

											</p>
										</div>
									</div>
								</div>
							</div>


							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="gen-07"><span>当日に自動車で会場に向かいたいのですが、駐車場は用意されていますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="gen-07">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												今回大会では有料でご利用できる駐車場を用意する予定ですが、駐車台数が限られているため、原則公共交通機関での来場をお願いしております。環境配慮に向けた取り組みにご協力ください。
											</p>
										</div>
									</div>
								</div>
							</div>


							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="gen-08"><span>当日参加することができなくなりました。代わりの人が走ることは可能ですか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="gen-08">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												代理出走はできません。ランナー情報を元に大会が安全に実施されるよう準備を整えています。御理解・御協力お願いいたします。
											</p>
										</div>
									</div>
								</div>
							</div>


							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="gen-09"><span>公認大会ですか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="gen-09">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												公認コースではないので、公認大会ではありません。
											</p>
										</div>
									</div>
								</div>
							</div>


							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="gen-10"><span>参加記念品はありますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="gen-10">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												参加賞Tシャツを2色用意します。お好きな色をお選びください。<br>
												詳細は<a href="/runner/prize.html">こちら</a>からご確認ください。
											</p>
										</div>
									</div>
								</div>
							</div>


							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="gen-11"><span>完走賞はありますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="gen-11">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">完走賞を用意する予定です。詳細は今後、大会公式WEBサイトでお知らせします。</p>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="c-block__guideline p-qa__block--guideline" id="competition">
							<h4 class="c-heading__guideline p-qa__heading--guideline">競技関係について</h4>

							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="com-01"><span>会場（スタート地点）に遅刻した場合はどうなるか。</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="com-01">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												9:40競技開始となるので、それ以降に到着したランナーはＦブロック後方に待機し、第3ウエーブでのスタートとなります。<br>
												また、10:10にスタート関門が閉鎖された場合は、競技に参加することができません。時間に余裕を持って来場してください。
											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="com-06"><span>関門閉鎖により競技を中止した場合、荷物はどのように受け取るのか。</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="com-06">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												各関門に待機している収容バスに乗車し、マラソンまたはハーフのフィニッシュ会場で受け取ることとなります。また、コース上にて競技を中止した場合、ランナーの最後尾に追従するバスに乗車し、同じく会場まで案内します。
											</p>
										</div>
									</div>
								</div>
							</div>


							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="com-02"><span>ウェーブスタートとは何か。</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="com-02">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												「<a href="/tournament/wavestart.html">こちら</a>」をご覧ください。
											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="com-03"><span>記録はどのように調べればよいか。また、記録証はどのようにもらうことができますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="com-03">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												完走しておよそ３０分後から、下記のURLより専用サイトにてWeb記録証を確認することができます。また、順位等が反映された確定版の記録証は、11月10日（火）に同サイトにてご確認いただけます。
											</p>
											<p class="p-qa__text--answer"><a href="https://marathon-result.jp/chiba-aqualine2026/" target="_blank">https://marathon-result.jp/chiba-aqualine2026/</a></p>
										</div>
									</div>
								</div>
							</div>

							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="com-04"><span>大会参加中に体調が悪くなった場合、どのように申し出るべきか。</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="com-04">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												参加案内に記載されている救護所にて、症状を申し出てください。状況に応じて救護スタッフが応急処置を行います。なお、コース沿道にも救護スタッフがいますので、そちらのスタッフにも遠慮なく申し出てください。
											</p>
										</div>
									</div>
								</div>
							</div>

							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="com-05"><span>荷物を預けないでスタート地点から予定完了まで、直接スタートエリアに向かってもいいですか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="com-05">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">
												参加案内（会場広域マップ）にスタート地点までの導線が記載されております。<br>
												すべてのランナーが円滑にスタート地点に立てるよう、同じルートで御案内しておりますので、手荷物をお預けにならない場合でも誘導員の指示に御協力願います。
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="c-block__guideline p-qa__block--guideline" id="half">
							<h4 class="c-heading__guideline p-qa__heading--guideline">ハーフマラソンについて</h4>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="hal-01"><span>フィニッシュはどこですか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="hal-01">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">ハーフマラソンのフィニッシュは、牛込海岸（三井アウトレットパーク木更津北側海沿いエリア）です。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="hal-02"><span>フィニッシュ後、帰路はどのようになりますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="hal-02">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">フィニッシュ後は、ハーフフィニッシュ会場にて、お預かりした手荷物を返却いたします。 ハーフフィニッシュ会場から、JR袖ケ浦駅、木更津金田バスターミナルへの無料シャトルバスを運行しますので、ご利用ください。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="hal-03"><span>フィニッシュ後、JR木更津駅へはどのように行くことができますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="hal-03">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">ハーフフィニッシュ会場から出発するシャトルバスでJR袖ケ浦駅付近まで行き、電車でJR木更津駅へ行くことができます。</p>
										</div>
									</div>
								</div>
							</div>

						</div>						
						
						
						<div class="c-block__guideline p-qa__block--guideline" id="wheelchair">
							<h4 class="c-heading__guideline p-qa__heading--guideline">車いすハーフマラソンについて</h4>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="whe-01"><span>参加資格は何ですか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="whe-01">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">2008(平成20)年4月1日以前に生まれた方で、競技用車いす（レーサー）を使用し、車いすハーフマラソンを競技時間内に完走できる方としております。参加を希望する場合は、パラ・スポーツ枠からお申込みください。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="whe-02"><span>（車いすハーフマラソン関係）駐車場はありますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="whe-02">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">イベント会場付近（旧木更津市役所周辺）に、車いすランナー専用駐車場を用意します。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="whe-03"><span>（車いすハーフマラソン関係）多目的トイレはどこにありますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="whe-03">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">車いすランナー用駐車場及び大会運営本部（木更津市市民福祉会館）、スタート会場（木更津商工会館）、ハーフフィニッシュ会場（牛込海岸）に用意する予定です。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="whe-04"><span>（車いすハーフマラソン関係）フィニッシュ後、駐車場までの帰路はどうなりますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="whe-04">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">生活用車いすに乗り換えていただき、事務局で用意した車両にて車いすランナー用駐車場までお送りする予定です。競技用車いすは事務局手配のトラックにて、車いすランナー用駐車場へ輸送する予定です。なお、生活用車いすは、ご自身でご用意ください。</p>
										</div>
									</div>
								</div>
							</div>

						</div>						
						
						
						<div class="c-block__guideline p-qa__block--guideline" id="course">
							<h4 class="c-heading__guideline p-qa__heading--guideline">コースについて</h4>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="cou-01"><span>救護所はありますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="cou-01">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">スタート地点、コース上に13ヶ所、ハーフフィニッシュ及びマラソンフィニッシュ会場にそれぞれ救護所があり、計16ヶ所になります。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="cou-02"><span>コース上の給水はありますか？給食の内容はどのようなものですか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="cou-02">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">給水所が17ヶ所、給食所（特産品おもてなしスポット含む）が16ヶ所設置してあります。給水所には、水、スポーツドリンクを用意してあります。給食所には、主に塩タブレット、バナナ、クッキー、羊かん、ゼリーや千葉県の特産品等の用意を予定しています。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="cou-03"><span>コース上にトイレはありますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="cou-03">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">スタート地点、フィニッシュ地点、及びコース上約1kmごとに設置されます。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="cou-04"><span>コース上に距離表示はありますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="cou-04">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">距離表示板は1kmごとと中間点に設置してあります。また、フィニッシュまで「あと3km」、「あと1km」の表示を設置します。<br>給水所と関門は、手前に表示を設置しています。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="cou-05"><span>収容関門はありますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="cou-05">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">コース上に関門は9か所あります。各関門に制限時間を設定していますので詳細は、募集要項ページをご覧ください。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="cou-06"><span>関門閉鎖時間に間に合わなかった場合、どうなりますか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="cou-06">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">競技中止となります。競技を中断し、誘導に従いバスでマラソン及びハーフフィニッシュ会場まで送迎します。</p>
										</div>
									</div>
								</div>
							</div>


						</div>						
						
						
						<div class="c-block__guideline p-qa__block--guideline" id="entry">
							<h4 class="c-heading__guideline p-qa__heading--guideline">エントリーについて</h4>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="ent-01">
									<span>
										ちば県民先行枠について<br>
										　・在勤ではだめですか？<br>
										　・居住実態が必要ですか？本籍のみはだめですか？
									</span>
								</h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="ent-01">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">千葉県に在住の方に限り申込をすることができます。 在勤、在学の方は不可となりますのでご了承ください。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="ent-02"><span>ちば県民先行枠はペア、または団体で申し込む際に代表者だけが千葉県在住であれば申し込み可能ですか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="ent-02">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">申込される全員が千葉県在住である必要があります。</p>
										</div>
									</div>
								</div>
							</div>
							<div class="p-qa__block--q">
								<h5 class="p-qa__heading--q js-toggle-accordion" data-target="ent-03"><span>アスリートランナー枠でのエントリー時に必要な記録証のタイムはネットタイムとグロスタイムのどちらですか？</span></h5>
								<div class="p-qa__block--toggle js-toggle-target" data-name="ent-03">
									<div class="p-qa__inner--toggle">
										<div class="p-qa__inner--on-inner">
											<p class="p-qa__text--answer">ネットタイムをお知らせください。</p>
										</div>
									</div>
								</div>
							</div>

							
						</div>
					</section>
				</div>
				<%- include("src/include/subColumn.html") %>
			</div>
		</section>
	</main>
	<%- include("src/include/footer.html") %>	
	<script type="module" src="/src/main.js"></script>
</body>
</html>